[2020-07-14 15:58] #1008 closed

[2020-07-14 15:59] mitchell852 commented on #1010
related to old TO UI. closing.

[2020-07-14 15:59] #1010 closed

[2020-07-14 16:10] ocket8888 commented on #1015
This isn't a bug, it's a safety feature of Linux. If your files are created with the wrong owner, then ORT is probably being run as the wrong user. If there's a bug in ORT where it's writing files with a bad permission set for some reason, please open a new issue. Currently, ORT seems to be handling this correctly (see discussion on #211)

[2020-07-14 16:10] #1015 closed

[2020-07-14 16:13] mitchell852 commented on #996
we need better validation to ensure that MSO is configured properly.

[2020-07-14 16:16] mitchell852 commented on #1000
location params are a design flaw imo and they are being addressed in a better way with atstccfg and hopefully we can move away from always trying to fix location param related bugs.

[2020-07-14 17:28] ocket8888 commented on #1040
This was fixed by #3069

[2020-07-14 17:28] #1040 closed

[2020-07-14 17:40] rob05c commented on #1144
It's a feature, not a bug. In terms of priority, I'd say medium. Which we usually don't tag "medium" priorities, right? But I can label if you really want

[2020-07-14 19:32] mitchell852 commented on #4850
@dpham692 - i'm confused by the term `xmlid` in the title. xmlid is a delivery service property.

[2020-07-14 20:06] ocket8888 commented on #1144
I think for new features we typically give them severity labels based on their impact. Or, at least, that's what I do.

[2020-07-14 20:10] rob05c commented on #1144
I also think the better solution for this is https://cwiki.apache.org/confluence/display/TC/Layered+Profiles rather than what's described here

[2020-07-15 20:20] #4372 closed

[2020-07-16 04:36] Vijay-1 opened #4882 "Traffic Router upgrades is not cleaning up webapps from previous installation"
## I'm submitting a ...
- [x] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [ ] Traffic Monitor
- [ ] Traffic Ops
- [ ] Traffic Ops ORT
- [ ] Traffic Portal
- [x] Traffic Router
- [ ] Traf

[2020-07-16 15:19] mitchell852 commented on #4870
so can this issue be closed?

[2020-07-16 21:20] shamrickus commented on #4870
I don't think you can reproduce the issue #4871 fixes given that #4825 already fixed the issue.

[2020-07-16 21:20] #4870 closed

[2020-07-17 15:50] dpham692 opened #4888 "Can create multiple Servers using the same profile with the same ip address for their service address"
## I'm submitting a ...

- [x] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [ ] Traffic Monitor
- [x] Traffic Ops
- [ ] Traffic Ops ORT
- [x] Traffic Portal
- [ ] Traffic Router
- [ ] Tra

[2020-07-17 16:35] rob05c opened #4889 "Remove TO creating DS Location Parameters"
Traffic Ops currently creates Location Parameters for DS fields that use config files. This is no longer necessary, since https://github.com/apache/trafficcontrol/pull/4861

Code is here:
https://github.com/apache/trafficcontrol/blob/master/traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go#L1476

## I'm submitting a ...
- [x] improvement request (usability, performance, tech debt,

[2020-07-17 16:39] rob05c opened #4890 "Change CiaB ORT.py to Set the ATS Config Location and Remove Unnecessary Location Parameters"
Since https://github.com/apache/trafficcontrol/pull/4861 the Config Generation will infer Location Parameters, but this requires ORT to pass it the ATS Config Directory.

The Perl ORT does this, but ort.py used by the CiaB doesn't. It should be changed so it does, and the unnecessary Location Parameters removed.

## I'm submitting a ...
- [x] improvement request (usability, performance, tech debt,

[2020-07-17 19:06] mitchell852 commented on #4824
another one: pagination is not persisted. i.e. if you go to page 5, click a server then return to the grid, you are back on page 1.

[2020-07-17 21:22] bdgranger opened #4894 "non-standard httpsPort not appended to domain name in remap.config line"
## I'm submitting a ...

- [x] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [ ] Traffic Monitor
- [x] Traffic Ops
- [ ] Traffic Ops ORT
- [ ] Traffic Portal
- [ ] Traffic Router
- [ ] Tra

[2020-07-17 21:49] dpham692 opened #4895 "Multiple bug in create Server page"
## I'm submitting a ...

- [x] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [ ] Traffic Monitor
- [ ] Traffic Ops
- [ ] Traffic Ops ORT
- [x] Traffic Portal
- [ ] Traffic Router
- [ ] Tra

[2020-07-20 15:29] jhg03a commented on #4874
Correct.  The place where that test was run is not setup to do this test.

[2020-07-20 20:14] #4874 closed

[2020-07-20 21:39] rob05c opened #4898 "Change ATS Config Generation to Infer DSCP Files"
ATS config generation creates DSCP files from DS settings. These settings are read and then set as a file on the remap.config line for the DS.

But the files themselves are not inferred. The `location` Parameters for `set_dscp_#.config` must exist, or ATS will fail to start.

The Config Generation should infer these files from the DSCP settings of all DSes on the Server, instead of relying on dupl

[2020-07-21 14:34] mitchell852 commented on #4852
asking this question on our slack channel will get you a faster response - https://traffic-control-cdn.slack.com/

[2020-07-21 14:34] mitchell852 commented on #4875
https://traffic-control-cdn.slack.com/

[2020-07-21 16:19] tyagian opened #4899 "Traffic Monitor Web UI showing incorrect status in Delivery Service States"
## I'm submitting a ...

- [x] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [x] Traffic Monitor
- [ ] Traffic Ops
- [ ] Traffic Ops ORT
- [ ] Traffic Portal
- [ ] Traffic Router
- [ ] Tra

[2020-07-21 17:26] shamrickus commented on #4850
When I create a new cache group with, it returns the id for me:
[code]

[2020-07-21 17:31] dpham692 commented on #4850
@shamrickus Confirm it's display the id.

[2020-07-21 17:36] #4850 closed

[2020-07-21 18:26] #4899 closed

[2020-07-21 23:57] #2156 closed

[2020-07-22 19:03] #4841 closed

[2020-07-22 19:43] smalenfant commented on #4292
The documentation is not accurate as well.

The setting documented is incorrect: `influx_db_conf_path`
The path is not documented which seems to be `/opt/traffic_ops/app/conf/influxdb.conf` (in this bug report)

[2020-07-22 19:51] smalenfant commented on #4292
The RPM should install influxdb.conf in the proper location

[2020-07-22 19:58] rob05c opened #4903 "Add Traffic Router Log For Geo Miss DS Location Usage"
Currently, if Traffic Router has a Geo Miss, and then uses the Delivery Service's Miss Location, it's logged as `rtype=GEO`. This makes it impossible to determine from the logs which IPs were GEO misses.

The code looks like it's here: https://github.com/apache/trafficcontrol/blob/b2f32b3fd9d4800aece68e5f4b12911a5f14a4a5/traffic_router/core/src/main/java/com/comcast/cdn/traffic_control/traffic_rou

[2020-07-22 21:55] #4895 closed

[2020-07-22 22:00] ocket8888 commented on #4292
The path is configurable by `influxdb_conf_path`, and so should not be documented, except possibly to mention it as the location to which the RPM installs the configuration file by default.

[2020-07-23 06:43] cheluskin opened #4906 "TP in section bandwidth shows unrealistic values"
## I'm submitting a ...

- [X ] bug report
- [ ] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [X] Traffic Monitor
- [ ] Traffic Ops
- [ ] Traffic Ops ORT
- [X] Traffic Portal
- [ ] Traffic Router
- [ ] Tr

[2020-07-23 06:43] cheluskin commented on #4906
<img width="393" alt="Снимок экрана 2020-07-23 в 09 23 46" src="https://user-images.githubusercontent.com/80083/88258492-f7bb6380-ccc8-11ea-985e-85667ebeaa43.png">

[2020-07-23 06:45] zrhoffman commented on #4906
What Traffic Control version are you using?

[2020-07-23 06:46] cheluskin commented on #4906
4.1.0 version

[2020-07-23 14:01] #4890 closed

[2020-07-23 17:49] #4860 closed

[2020-07-23 19:58] rimashah25 commented on #4743
jh03a: Does the trailing period affect only DNS type cname_record or the other 3 as well?

[2020-07-23 20:02] jhg03a commented on #4743
CNAME is where I found it. In theory it would be anywhere we specify the Dns name of a record that uses that library to validate.

[2020-07-24 20:57] dneuman64 opened #4912 "Enhanced Geo Location bypass in Traffic Router"
## I'm submitting a ...

- [ ] bug report
- [x] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [ ] Traffic Monitor
- [x] Traffic Ops
- [ ] Traffic Ops ORT
- [x] Traffic Portal
- [x] Traffic Router
- [ ] Tra

[2020-07-27 16:34] rob05c commented on #2176
I believe this was fixed with the move to Go. See https://github.com/apache/trafficcontrol/blob/master/traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices.go#L1476

But it's definitely fixed in the latest ORT, via https://github.com/apache/trafficcontrol/pull/4861

[2020-07-27 16:34] #2176 closed

[2020-07-27 19:56] dpham692 opened #4915 "Can update Delivery Service to use Topology when it's already assign to a Server."
## I'm submitting a ...

- [x]  bug report

## Traffic Control components affected ...

- [ ]  CDN in a Box
- [ ]  Documentation
- [ ]  Grove
- [ ]  Traffic Control Client
- [ ]  Traffic Monitor
- [x]  Traffic Ops
- [ ]  Traffic Ops ORT
- [x]  Traffic Portal
- [ ]  Traffic Router
- [ ]  Traffic Stats
- [ ]  Traffic Vault
- [ ]  unknown

## Current behavior:

Right now, user can update Delivery Ser

[2020-07-28 17:26] dpham692 opened #4918 "Can link Delivery Services with Topologies to Server on TP"
## I'm submitting a ...

- [x]  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Documentation
-  Grove
-  Traffic Control Client
-  Traffic Monitor
-  Traffic Ops
-  Traffic Ops ORT
- [x]   Traffic Portal
-  Traffic Router
-  Traffic Stats
-  Traffic Vault
-  unknown

## Current behavior:

1. Create a Delivery Service with Topologies.
2. Create a Server within the same C

[2020-07-28 22:00] #4848 closed

[2020-07-29 15:01] zrhoffman opened #4919 "Traffic Ops unit tests: TestGetMonitoringJSON sometimes fails"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

`github.com/apache/trafficcontrol/traffic_ops/traffic_ops_golang/monitoring.TestGetMonitoringJSON` usually passes but sometimes fails:
[code]

## Expected / new behavior:

All unit tests should always pass

## Minimal reproduction of the problem with instructions:

[code]

## A

[2020-07-29 15:20] ocket8888 commented on #4919
Note for future tests:I know it takes exponentially more lines to compare each property by hand, but it would make it much easier to see what the real difference is.

[2020-07-29 15:22] #4620 closed

[2020-07-29 21:54] zrhoffman opened #4921 "Traffic Monitor marks topology-based delivery services as unavailable"
## I'm submitting a ...

- [x] bug report
- [x] new feature / enhancement request
- [ ] improvement request (usability, performance, tech debt, etc.)
- [ ] other

## Traffic Control components affected ...

- [ ] CDN in a Box
- [ ] Documentation
- [ ] Grove
- [ ] Traffic Control Client
- [x] Traffic Monitor
- [ ] Traffic Ops
- [ ] Traffic Ops ORT
- [ ] Traffic Portal
- [ ] Traffic Router
- [ ] Tra

[2020-07-30 03:20] #4919 closed

[2020-07-30 15:21] dpham692 opened #4924 "Internal Server Error when perform snapshot"
## I'm submitting a ...

- [x] bug report
-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)
-  other

## Traffic Control components affected ...

-  CDN in a Box
-  Documentation
-  Grove
-  Traffic Control Client
-  Traffic Monitor
- [x]  Traffic Ops
-  Traffic Ops ORT
- [x] Traffic Portal
-  Traffic Router
-  Traffic Stats
-  Traffic Vault
-  u

[2020-07-30 15:43] zrhoffman commented on #4924
There are several references to `server.ip_address`, which was removed in #4730.

In: [/traffic_ops/traffic_ops_golang/monitoring/monitoring.go](https://github.com/apache/trafficcontrol/blob/7691d16c89/traffic_ops/traffic_ops_golang/monitoring/monitoring.go#L190):

[code]
In [/traffic_ops/traffic_ops_golang/server/detail.go](https://github.com/apache/trafficcontrol/blob/7691d16c89/traffic_ops/traf

[2020-08-03 14:59] mitchell852 commented on #4915
This is fine actually @dpham692. We decided not to require the user to remove all assigned servers from a DS before assigning a topology. However, if a DS has BOTH a topology AND assigned servers, the topology will be used and the assigned servers will be ignored.

This approach allows a smoother transition to topologies.

However, will all that said, the opposite is not allowed: a user cannot ass

[2020-08-03 18:59] mitchell852 commented on #4354
this is only actually fixed for the servers table of TP. not all of the other tables. reopening.

[2020-08-03 19:00] mitchell852 commented on #2624
this is only actually fixed for the servers table of TP. not all of the other tables. reopening.

[2020-08-03 19:01] mitchell852 commented on #2326
this is only actually fixed for the servers table of TP. not all of the other tables. reopening.

[2020-08-03 19:32] ocket8888 commented on #4824
Here's my suggestion: the new search added in #4891 could be made [fuzzy](https://en.wikipedia.org/wiki/Approximate_string_matching).

[2020-08-03 19:33] #4924 closed

[2020-08-03 22:56] #4847 closed

[2020-08-04 14:36] #4918 closed

[2020-08-04 15:07] mitchell852 commented on #4824
can it? i'll have to look into ag-grid's `setQuickFilter` api to see if it supports anything like that.

[2020-08-04 15:34] mitchell852 commented on #1303
@dneuman64 @jhg03a - is this still required with the implementation of https://github.com/apache/trafficcontrol/blob/master/blueprints/multi-interface-servers.md

[2020-08-04 15:36] mitchell852 commented on #1302
@MattMills - i believe this can be accomplished using steering delivery services. let me know if you disagree.

[2020-08-04 15:40] mitchell852 commented on #1419
@hbeatty - this issue appears to be irrelevant in newer versions. please reopen if you disagree.

[2020-08-04 15:40] #1419 closed

[2020-08-04 15:43] mitchell852 commented on #1762
@rob05c - is this still relevant?

[2020-08-04 15:46] mitchell852 commented on #1064
@mtorluemke @elsloo we believe this is fixed. please reopen if you disagree or have more info.

[2020-08-04 15:46] #1064 closed

[2020-08-04 15:47] #1073 closed

[2020-08-04 15:48] mitchell852 commented on #1075
this is specific to Perl API extensions so closing

[2020-08-04 15:48] #1075 closed

[2020-08-04 15:48] ocket8888 commented on #1075
Documentation exists for creating Go API extensions, including example code: https://traffic-control-cdn.readthedocs.io/en/latest/development/traffic_ops.html#go-plugins

[2020-08-04 15:50] mitchell852 commented on #1076
job_agent
job_status

still exist.

job_agent is gone

[2020-08-04 15:52] rob05c commented on #1302
Sort of. Not as well, though. The goal of the feature is to be able to change a routing name and cut over with no downtime.

Steering can do this, if your DS is already Steering. But if you have an existing non-Steering DS, there's no way to. Having multiple routing names would let you change the FQDN on an existing standard DS without downtime.

Steering also comes at a performance cost. It's an

[2020-08-04 15:53] mitchell852 commented on #1082
@limited - we appear to be moving away from location params altogether. can this be closed?

[2020-08-04 15:53] rob05c commented on #1762
Yes. This is still relevant, and still a pain for people running multiple CDN services on the same host.

[2020-08-04 15:54] mitchell852 commented on #1007
@limited - we are moving away from location params, therefore, i believe this may no longer be relevant with later releases of TC.

[2020-08-04 15:55] #1025 closed

[2020-08-04 15:57] rob05c commented on #1082
This isn't just Location params. Delivery Services have other Profile Parameters, like MSO configuration.
I think the request still applies, to not import those Parameters of the Delivery Services doesn't exist.

[2020-08-04 16:00] rob05c commented on #1007
DS Location Params are inferred now. They still get created as of this writing, but there's a case to fix that. I'm closing as a
Duplicate https://github.com/apache/trafficcontrol/issues/4889

[2020-08-04 16:00] #1007 closed

[2020-08-04 16:03] mitchell852 commented on #975
@ryandurfey - can you provide a bit more information around this? for example, what type of delivery service was this if you remember?

[2020-08-04 16:11] mitchell852 commented on #953
@ryandurfey - there are methods to scale TC to meet the ds demands. i.e. more TRs, more TMs, more traffic servers, etc. in addition to GSLBs for traffic ops. can you please reopen with more specific info if had something else in mind?

[2020-08-04 16:11] #953 closed

[2020-08-04 16:15] mitchell852 commented on #960
duplicate of #3393

[2020-08-04 16:15] #960 closed

[2020-08-04 16:36] jhg03a commented on #1303
Server interfaces doesn't address this request

[2020-08-04 16:41] #4915 closed

[2020-08-04 16:52] mitchell852 commented on #4168
Duplicate of #4167

[2020-08-04 16:52] #4168 closed

[2020-08-04 16:57] MattMills commented on #1302
Yeah I agree with what Rob said.

[2020-08-04 17:00] MattMills commented on #1303
I agree with Jonathan, the intention is to provide a mechanism by which TC itself can be "aware" of expected periods of downtime and route around them with no other operator intervention.

[2020-08-04 19:26] mitchell852 commented on #1303
agreed. just wondered if a server having multiple interfaces reduced the need to even admin down servers for maintenance purposes. i guess not.

[2020-08-04 20:47] #4921 closed

[2020-08-05 02:32] ocket8888 commented on #4838
oh, I think this is actually specific to ILO IP Address and other IP-type things. In the old table, the text included was an SSH link for those IPs, but in the new table I just made the entire cell click handle like that. So maybe this is a suggestion after all :P

[2020-08-05 14:41] mitchell852 commented on #4838
yeah, i suppose if params.value is null or empty, then somehow `SSHCellRenderer` should not be used.

[2020-08-05 14:44] mitchell852 commented on #4838
also wonder if #1801 should be addressed while fixing this as well.

[2020-08-05 15:34] ocket8888 commented on #4838
Yeah. I didn't do it at the time, because I just wanted to replicate the current tables' behavior, but fixing both of those at once should be fine.

[2020-08-05 21:24] dpham692 opened #4935 "Internal Server Error when perform a /GET update_status on a non-unique hostname"
## I'm submitting a ...

- [x]  bug report
-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)
-  other

## Traffic Control components affected ...

-  CDN in a Box
-  Documentation
-  Grove
-  Traffic Control Client
-  Traffic Monitor
- [x]  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal
-  Traffic Router
-  Traffic Stats
-  Traffic Vault
-  unk

[2020-08-05 22:00] zrhoffman commented on #4935
Steps to reproduce: Create 2 servers with the same hostname and go to `/api/3.0/servers/{host_name}/update_status`.

Seeing this in the TO logs in CDN-in-a-Box:

[code]

[traffic_ops/traffic_ops_golang/server/servers_update_status.go#L81](https://github.com/apache/trafficcontrol/blob/732c3f8e1c/traffic_ops/traffic_ops_golang/server/servers_update_status.go#L81), the line with the subquery in quest

[2020-08-05 22:08] rob05c commented on #4935
Ugh. No, the current DB constraint is `{hostname, profile}`. IMO it should be `{hostname, port}`, but that's a different discussion.
We have a ton of endpoints based on host, that only mostly work if you have multiple hosts. This is one of them. The "right" solution is to include the port/profile in the query, but the endpoint doesn't have that info.

We really need to rework all the hostname endp

[2020-08-05 22:28] zrhoffman commented on #4935
Ok, we can include a comment like

[code]

[2020-08-05 22:43] rob05c commented on #4935
And maybe put reworking the hostname endpoints to include ports (and changing the DB constraint from host+profile to host+port) on the agenda for the TO/API meetings? Definitely an issue that doesn't get as much attention as it needs

[2020-08-05 23:16] mitchell852 commented on #4935
@dpham692 - can you change the title of this to `Internal Server Error when perform a /GET update_status on a non-unique hostname`

So, at one point hostname was unique and like @rob05c said the uniqueness was changed to hostname + profile. I believe this was done to support MSO delivery services in some way but i forget exactly why. (MSO is the root of much of our bad tech debt imo). I created a

[2020-08-05 23:21] mitchell852 commented on #4935
@zrhoffman @rob05c - in this scenario, would it make sense to set upd_pend=1 for BOTH servers IF 2 servers (for example) share a hostname?

[2020-08-05 23:31] rob05c commented on #4935
This is getting, not setting. Returning the pending status for multiple servers would be a fundamental change to the API, and is likely to break clients.

But with regard to the parent pending, I'm not 100% sure but looking at the SQL, I think it's probably implicitly returning if parents of either server are pending. But that's not where the error is.

The error is in `WHERE s.cachegroup != (SELE

[2020-08-06 00:06] zrhoffman commented on #4935
@mitchell852 If the only reason we dropped unique hostnames was to support MSOs, origins should be the only server type that can have non-unique hostnames. We can adjust the constraint for that and re-add the constraint, right?

Because we queue updates by server ID, that endpoint thankfully will not have this issue.

---

@rob05c That's correct. But since we have no preference for which of those

[2020-08-06 00:14] rob05c commented on #4935
That's not the only reason. That might have been the triggering event, but there are many reasons to support multiple hostnames. It's valid to run a CDN, especialy a small one, with multiple components on the same machine. It's also extremely useful, especially for testing and development, to run multiple caches on the same host on different ports.

Fundamentally, hostname does not define a unique

[2020-08-06 01:28] ocket8888 commented on #4935
It should also be noted that the transformation is not trivial. This endpoint is only one of many places - including throughout all of Traffic Monitor and probably all of Traffic Router - where hostnames for servers are assumed to be unique.

[2020-08-06 02:42] zrhoffman commented on #4935
#4936 returns accurate results for duplicate hostnames for `GET /servers/{host_name}/update_status` (as with previous API versions, the response array will have 2 elements in that case) . Also, using `NULL` as the initial cachegroup made filtering the initial cachegroups later unnecessary.

[2020-08-06 22:03] #4935 closed

[2020-08-06 22:35] dpham692 opened #4939 "Error message does not display after user try to delete Region and PhysLocation and Divisions"
## I'm submitting a ...

- [x]  bug report
-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)
-  other

## Traffic Control components affected ...

-  CDN in a Box
-  Documentation
-  Grove
-  Traffic Control Client
-  Traffic Monitor
-  Traffic Ops
-  Traffic Ops ORT
- [x] Traffic Portal
-  Traffic Router
-  Traffic Stats
-  Traffic Vault
-  unkn

[2020-08-07 15:42] rob05c opened #4940 "Change Traffic Ops Server Unique Key from IP,Profile to IP,Port"
IP+Port makes much more sense for the Unique Key. The IP+Port is what uniquely defines the server for requests (At the HTTP level, arguably FQDN+Port, but the current key is IP, which is the unique identifier at the IP level).

The current IP,Profile setting is undesirable because it makes creating multiple similar servers a huge pain, having to create many duplicate profiles. It also allows for d

[2020-08-07 15:47] rob05c opened #4941 "Fix Traffic Ops Server Primary key to be ID"
The TO Primary Key is currently `(id, cachegroup, type, status, profile)`.

That is absolutely broken. It must've slipped in a migration or something, but the PK needs to be `id`, and tons of things will break if IDs aren't unique.

If necessary, we can consider adding the other columns there to their own unique key. But I don't think they need to be.

Personally, I don't like artificial IDs. They

[2020-08-10 15:12] jhg03a commented on #1303
This ticket is predicated on queue and snap being safe for automation to perform.

[2020-08-11 18:32] #4939 closed

[2020-08-12 15:05] #4875 closed

[2020-08-12 15:06] #4852 closed

[2020-08-12 15:10] mitchell852 commented on #4810
@cheluskin - these types of questions can be answer faster here fyi - https://traffic-control-cdn.slack.com/

[2020-08-12 15:10] #4810 closed

[2020-08-12 15:11] mitchell852 commented on #4793
looks like this is resolved. also, to get quicker feedback try https://traffic-control-cdn.slack.com

[2020-08-12 15:11] #4793 closed

[2020-08-12 15:14] mitchell852 commented on #4787
@dpham692 @ocket8888 is this still an issue? i know a lot has been changing with servers in master and there were a few bumps but maybe this has been resolved by now?

[2020-08-12 15:15] mitchell852 commented on #4767
yeah, i suppose creating a target for a non-steering ds technically makes no sense as it won't be used....however, it has no negative effects.

[2020-08-12 15:21] zrhoffman opened #4945 "Traffic Ops tests fail with: ats/atscdn/headerrewritedotconfig.go:1:1: expected 'package', found 'EOF'"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Traffic Ops unit tests fail with

[code]

## Expected / new behavior:

Traffic Ops unit tests should pass

## Minimal reproduction of the problem with instructions:

cd traffic_ops/app/bin/tests
docker-compose up --build

## Anything else:

<details><summary>Logs for the above

[2020-08-12 15:24] mitchell852 commented on #4743
fixed per #4934

[2020-08-12 15:24] #4743 closed

[2020-08-12 16:25] ocket8888 commented on #4787
No, I actually don't think this was ever an issue. It's just that before TP was updated to use interfaces, creating a server would result in those fields showing as blank in TP.

[2020-08-12 16:40] jhg03a commented on #4940
This is a problem for MSO VIP.  We can make additional MSO server profiles to satisfy the unique constraint.  We can't force load balancers to use multiple ports.

[2020-08-12 16:44] ocket8888 commented on #4940
Somebody needs to refresh me on why MSO uses servers instead of Origins.

[2020-08-12 16:58] ocket8888 opened #4946 "Traffic Monitor doesn't work with backup files"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Monitor

## Current behavior:
When you try to get Traffic Monitor to monitor caches using backup, local file copies of the CDN snapshot and `cdns/{{name}}/configs/monitoring` payload, it will never actually monitor anything and just report that its API is perpetually unavailable because the "service is sti

[2020-08-12 16:58] ocket8888 commented on #4946
I'm not sure if this is a regression or not.

[2020-08-12 17:08] #3529 closed

[2020-08-12 17:14] #4945 closed

[2020-08-12 22:44] jhg03a commented on #4940
Servers came first and origins is backward compatible with it.

[2020-08-12 22:45] jhg03a commented on #4940
The main feature gain Origins has that servers doesn't is the ability to assign a geo-coordinate to an individual origin instead of an origin cachegroup like in the past.

[2020-08-12 23:16] ocket8888 commented on #4940
I feel like there was a reason we couldn't switch to Origins yet, though, and idk if/where that discussion was captured.

[2020-08-13 15:58] zrhoffman opened #4949 "GET /api/3.0/servers?dsId=1 500s when requested with If-Modified-Since header"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

`GET /api/3.0/servers?dsId=1` returns a response with an *Internal Server Error* alert and status code 500  when requested with `If-Modified-Since` header.

## Expected / new behavior:

`GET /api/3.0/servers?dsId=1` should return status code 200 with a set of servers matching t

[2020-08-13 16:14] dpham692 opened #4950 "Cannot delete Service Categories on TP"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops

## Current behavior:

1. Create a Service Categories.
2. Try to delete it and TP will display `no serviceCategory with that key found`

Also there is no documentation to delete the service_categories
## Expected / new behavior:

User can delete the service_categories. Update delete

[2020-08-13 16:45] ocket8888 commented on #4946
I've been told it is, in fact, a regression.

[2020-08-13 17:21] ocket8888 commented on #4624
This was resolved by #4747

[2020-08-13 17:21] #4624 closed

[2020-08-13 19:36] mitchell852 commented on #4796
this works fine in TC 4.1 and this endpoint has been removed in TC 5.0 so closing this...

[2020-08-13 19:36] #4796 closed

[2020-08-13 19:38] mitchell852 commented on #3738
downgrading this as it sounds like you just have to use 1/0 instead.

[2020-08-13 21:50] #4888 closed

[2020-08-13 22:41] ocket8888 opened #4954 "'admin' tool should use pq"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
- other

## Current behavior:
`admin` shells out to subprocess using a `psql` binary` for database operations.

## Expected / new behavior:
The `admin` tool should use a postgresql adapter to make database connections instead of relying on shelling out to a `psql` bi

[2020-08-13 22:58] mitchell852 commented on #3548
fyi, i updated the issue title to better describe the issue (i.e. this is not specific to Traffic Portal)

[2020-08-13 23:22] ocket8888 opened #4956 "Panic in unit tests"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Looks like the tests are segfaulting: https://github.com/apache/trafficcontrol/pull/4955/checks?check_run_id=982667488#step:3:1932

## Expected / new behavior:
Tests shouldn't segfault

## Minimal reproduction of the problem with instructions:
Run the unit tests

[2020-08-14 20:01] limited opened #4961 "CZF-Only and National Geoblocking (NGB) broken when using a geoRedirect URL within the same delivery service"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Router

## Current behavior:
Conditions:
- Delivery Service GeoLimit is 1 (CZF Only) or 2 (CZF + Country Code)
- GeoLimit Redirect URL is an absolute URL within the same delivery service or a relative URL
- Client is not present in the CZF (GeoLimit=1) or Client is not in CZF or an allowed Country (GeoLimi

[2020-08-14 20:19] ocket8888 commented on #4961
Wait, is this a problem with GeoLimit or NGB? Because I think those are different things that operate independently.

[2020-08-14 20:20] #4949 closed

[2020-08-14 20:23] limited commented on #4961
They are linked because they both use the `TrafficRouter::enforceGeoRedirect()` function.

[2020-08-14 20:51] #3548 closed

[2020-08-14 21:04] mitchell852 commented on #4950
@jehunte to fix this:

https://github.com/apache/trafficcontrol/blob/master/traffic_portal/app/src/common/modules/form/serviceCategory/edit/FormEditServiceCategoryController.js#L63

`deleteServiceCategory()` is expecting the object, not the name...

[2020-08-14 23:03] mitchell852 commented on #4787
@ocket8888 so can close?

[2020-08-15 02:06] ocket8888 commented on #4787
Well I'd like the guy who opened it to confirm it's not an issue.

[2020-08-17 15:07] zrhoffman opened #4964 "TO: Provide the ability to view all servers utilized by a ds that is assigned to a topology"
## I'm submitting a ...

-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Right now, we are not able to query servers by dsId if the delivery service is topology-based.

## Expected / new behavior:

Implement `GET /api/3.0/servers?dsId=X` for delivery services tha

[2020-08-17 15:10] zrhoffman opened #4965 "TP: Provide the ability to view all servers utilized by a ds that is assigned to a topology"
## I'm submitting a ...

-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

Right now, a user cannot view the servers employed by a delivery services that utilizes a topology.

## Expected / new behavior:

In TP, for a delivery service that is assigned to a topol

[2020-08-17 19:52] #3400 closed

[2020-08-17 20:16] rob05c opened #4969 "Fix traffic_ops/client changed symbols"
Recently, a `http.Header` was added to the TO client funcs. This is necessary to let clients pass IMS/IUS/etc headers. But we need to add new functions, to avoid breaking existing clients.

So, for example, `traffic_ops/client/cdn.go` was changed from
[code]
To
[code]

This breaks any clients using it. It needs to follow the standard deprecated-for-one-major-version procedure. It should be changed

[2020-08-17 20:22] #4950 closed

[2020-08-17 20:22] #4791 closed

[2020-08-18 16:43] mitchell852 commented on #4969
no need for 2 bug labels :)

[2020-08-18 17:43] rimashah25 commented on #4237
@ocket8888 @mitchell852 Same issue was reported and resolved.
Issue Reported: https://github.com/apache/trafficcontrol/issues/4848
Solution: https://github.com/apache/trafficcontrol/pull/4892

This bug has been fixed and needs to be closed.

[2020-08-18 17:48] rob05c opened #4970 "Add ORT Multi-interface Outgoing IP"
The Multi-interface work adds support for multiple interfaces on servers, with one interface specified as the "serviceAddress."

ORT needs to reads this value from the Servers endpoint, and set it in records.config `proxy.local.outgoing_ip_to_bind`, so that address/interface is used for outgoing traffic.

## I'm submitting a ...
-  new feature / enhancement request

## Traffic Control components a

[2020-08-18 18:04] ocket8888 commented on #4970
Servers can have one service address per address family - which are currently restricted to IPv4 and IPv6, so either one or two. Can you set one for each protocol version? Or, otherwise select one at random? Or possibly check the Delivery Services for which the server is expected to service requests for `ipv6RoutingEnabled` values and select only IPv4 addresses if possible and at least one is `fal

[2020-08-18 18:09] rob05c commented on #4970
Yeah, the plan is to use `proxy.local.incoming_ip_to_bind`, which takes an IPv4 and optionally also an IPv6.
https://docs.trafficserver.apache.org/en/8.0.x/admin-guide/files/records.config.en.html#proxy-local-incoming-ip-to-bind

[2020-08-18 18:10] ocket8888 commented on #4237
No, that was a different endpoint. That was `/cdns/capacity`, this is a similar bug in `/deliveryservices/{{ID}}/capacity`. I just looked at the code and it would seem the issue still exists.

[2020-08-18 18:35] mitchell852 commented on #4237
@rimashah25 - remove all servers from ds then snapshot and see what the result of `/deliveryservices/{{ID}}/capacity` is...

[2020-08-18 18:37] rimashah25 commented on #4237
Thanks @mitchell852.

[2020-08-18 18:38] mitchell852 commented on #4970
@rob05c - can you add a component label to your issues as well?

[2020-08-18 18:47] mitchell852 commented on #4128
closing as this endpoint has been deprecated

[2020-08-18 18:47] #4128 closed

[2020-08-18 18:49] mitchell852 commented on #3950
can this be closed @ocket8888

[2020-08-18 18:50] mitchell852 commented on #3898
closing

[2020-08-18 18:50] #3898 closed

[2020-08-18 18:56] mitchell852 commented on #4311
removing GFI label. hope that's ok @rob05c

[2020-08-18 19:00] mitchell852 commented on #4235
this is done

[2020-08-18 19:00] #4235 closed

[2020-08-18 19:03] mitchell852 commented on #3572
this was fixed but apparently not auto-closed by github

[2020-08-18 19:03] #3572 closed

[2020-08-18 19:06] rob05c commented on #4311
Why? This should be pretty straightforward for a new developer.
It's really just a matter of replacing the `cp` with code to make a new file with a temporary name and `mv` it to the correct location.

[2020-08-18 20:18] ocket8888 commented on #3950
Possibly. I'd like @rob05c's opinion on whether [the current documentation on strings with special meaning to ORT](https://traffic-control-cdn.readthedocs.io/en/latest/development/ort/traffic_ops_ort.html#strings-with-special-meaning-to-ort) is both correct and exhaustive.

[2020-08-18 20:20] ocket8888 commented on #4311
Because it's Perl?

Which, maybe new _developers_ won't be learning from their universities, but new _contributors_ might know. So I think it's a fine GFI.

[2020-08-18 20:45] ocket8888 commented on #4956
Problem both arose and was solved in #4955 .

[2020-08-18 20:45] #4956 closed

[2020-08-18 21:03] ocket8888 commented on #2698
[Documentation for `/servers/{{ID}}/deliveryservices`](https://traffic-control-cdn.readthedocs.io/en/latest/api/v3/servers_id_deliveryservices.html) does exist.

[2020-08-18 21:03] #2698 closed

[2020-08-18 21:11] zrhoffman commented on #3592
`docker-compose.exposeports.yml` was documented more in #3889. The VNC, VPN, Grafana, and Socks Proxy services look adequately-documented to me (though we may consider increasing the `toctree` max depth in the future so that those sections show up in the table of contents.

This issue looks closable to me

[2020-08-18 21:18] ocket8888 commented on #3592
Fixed in #3889.

[2020-08-18 21:18] #3592 closed

[2020-08-19 15:06] zrhoffman commented on #4965
Duplicate of #4559

[2020-08-19 15:15] mitchell852 commented on #4559
this is not done afaik. reopening.

[2020-08-19 15:17] mitchell852 commented on #4965
reopening as this will be closed when #4966 is merged.

[2020-08-19 16:03] mitchell852 commented on #4311
added it back :)

[2020-08-19 16:04] mitchell852 commented on #4791
so you can't assign ORGs from cdn1 to a delivery service cdn2 @dpham692 ?

[2020-08-20 17:31] dpham692 opened #4979 "Internal Server Error when create Server without profileId"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
The `POST` handler of the `/servers` endpoint returns a `500 Internal Server Error` response when the request payload did not specify a `profileId`.

## Expected / new behavior:
It used to return 400 with a message to the effect that `profileId` is required.

## Minimal reproducti

[2020-08-20 22:53] dpham692 opened #4981 "User can create routing regular expression without pattern param input"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

The POST handler of the `deliveryservices/{{ID}}/regexes` endpoint let user create routing regular expression for a Delivery Service when the request payload have a blank pattern.
## Expected / new behavior:

It should not let user create regexes and return 400 Bad Request with

[2020-08-21 18:34] dsouza93 opened #4982 "Support Queuing Updates by Server Type"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal

## Current behavior:

There has been the need to queue only the edge caches or only the mid caches. Currently, this has to either be done by writing a script to hit the API, or hacky ways like admin_downing mid caches in ea

[2020-08-22 00:16] jhg03a opened #4984 "Postinstall can no longer be run twice"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Running postinstall.pl twice causes failure.

## Expected / new behavior:

Previously there hadn't been issues with running Postinstall twice

## Minimal reproduction of the problem with instructions:

1. Run Postinstall
2. Run Postinstall again with the same input

## Anything

[2020-08-24 16:14] #4969 closed

[2020-08-24 19:59] mitchell852 commented on #4888
@bdgranger - i do believe the change in #4907 will prevent the use case you described.....but #4940 (once implemented) will then re-enable your ability to do what you want to do :)

[2020-08-24 21:43] bdgranger commented on #4888
@mitchell852 It does appear that that is the case.  Thanks!

[2020-08-25 14:53] zrhoffman commented on #4946
Traffic Monitor starts up successfully with backup files for me. Steps:

1. Start Traffic Monitor with no backup files
2. Wait for Traffic Monitor to generate `/opt/traffic_monitor/crconfig.backup` and `/opt/traffic_monitor/tmconfig.backup`
3. In `/opt/traffic_monitor/conf/traffic_ops.cfg`, change the `"url"` value to a hostname that doesn't resolve
4. Restart Traffic Monitor

Traffic Monitor then

[2020-08-25 15:36] ocket8888 commented on #4946
So Traffic Monitor must have an initial connection to TO, and cannot operate with backup files ab-initio?

[2020-08-25 16:08] zrhoffman commented on #4946
There is no need for an initial connection, that's just how I generated backup files that worked.

[2020-08-25 16:51] ocket8888 commented on #4946
Is there some format besides the response format of the `/cdns/{{CDN}}/snapshot` and `/cdns/{{CDN}}/configs/monitoring` endpoints? Because that's what I tried when I couldn't get it to work. It's possible that I just made an imperfect copy or something, of course.

[2020-08-25 17:48] zrhoffman commented on #4946
Looks like the actual contents of `tmconfig.backup` are not directly from `cdns/{{CDN}}/configs/monitoring`. TM calls `client.GetTrafficMonitorConfigMap()`, which [makes a map out of the response]https://github.com/apache/trafficcontrol/blob/55b3b03451/traffic_ops/v2-client/traffic_monitor.go#L42) before sending it back to Traffic Monitor.

I'm not sure why we're manipulating responses within the

[2020-08-25 17:54] rob05c commented on #4946
Because it's more convenient to work with.

Why didn't the TO endpoint just return the more convenient structure? Because the person who wrote it wasn't the person who had to use it.

[2020-08-25 18:01] zrhoffman commented on #4946
Oh, I didn't mean as opposed to TO returning a more convenient structure, I meant as opposed to the change I'm proposing, having TM call `client.GetTrafficMonitorConfig()` directly and then later calling `tc.LegacyTrafficMonitorTransformToMap()` itself so operators can just copy the response from `GET /cdns/{{CDN}}/configs/monitoring` to `tmconfig.backup` without TM having needed to have an initia

[2020-08-25 19:21] ocket8888 commented on #4946
The alternative is documenting the format it actually uses. I don't really care what's done, but something ought to, or else we're just gonna be answering this question over and over again throughout time.

[2020-08-26 18:01] zrhoffman commented on #4946
Note: This is not a regression, this behavior has been in place since #3053 when backup files were added.

[2020-08-26 19:09] mitchell852 commented on #4946
let's call it an "improvement" then :)

[2020-08-26 21:10] #2565 closed

[2020-08-27 19:23] shamrickus opened #4992 "Unable to clone delivery services in TP"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:
When cloning a delivery service, an injector error is returned by angular.

## Expected / new behavior:
No errors on cloning

## Minimal reproduction of the problem with instructions:
Clone a delivery service

## Anything else:
https://code.angularjs.org/1.8.0/docs/error/$inj

[2020-08-28 14:51] #4361 closed

[2020-08-28 19:39] mitchell852 commented on #4992
good catch @shamrickus

[2020-08-31 20:15] #4992 closed

[2020-08-31 21:59] #1636 closed

[2020-09-01 18:11] rob05c opened #5001 "Traffic Monitor API Change Makes Upgrading ATC Impossible"
https://github.com/apache/trafficcontrol/commit/f2a6b5ba360f181450bc85a1c7a5d58832361037#diff-19d5dde3706497c19da9a59a2ccb15c5R165
[code]

This struct is used in the Monitor API, `/publish/CacheStats`, which is used by clients, including Traffic Ops `/deliveryservices/{{id}}/capacity`, and possibly Traffic Router.

[code]

This makes it impossible to upgrade. Whether you upgrade TM or other things

[2020-09-01 18:24] mitchell852 commented on #5001
@rob05c - this would probably warrant our seldom used "critical" label, no?

[2020-09-01 21:49] rob05c commented on #5001
We had a discussion about this, and realized none of the Monitor clients of that endpoint actually need interface-specific data.

So, the easiest solution is to just keep the old endpoint unchanged, and not add a new endpoint. We can always add a new endpoint in the future, if we find we need it.

We should be able to just make the monitor sum the stats for each interface, turning

`map[tc.CacheNa

[2020-09-02 06:29] #4946 closed

[2020-09-02 14:48] rimashah25 commented on #4979
@mitchell852: The answer is no. Profile is a required field in TP.

[2020-09-02 15:44] rob05c opened #5005 "Traffic Monitor Cannot Be Upgraded Independently of Traffic Ops"
Traffic Monitor uses the unvendored Traffic Ops client. This means if the TO API version changes, the client automatically uses the latest, and TM will fail to connect to TO if TM is upgraded first.

ATC supports upgrading in any order, which is very frequently necessary for innumerable reasons. So, this is a bug.

It's been a bug for a while, but it most recently came up because of another bug in

[2020-09-02 15:49] rob05c opened #5006 "Traffic Control 4.0 Upgrade Fails Without Snapshot"
Upgrading to 4.0 will bring the CDN down, until a Snapshot is done.

We usually recommend snapshotting after upgrade, but it shouldn't be required and it shouldn't bring the CDN down. Especially since it takes time for the Snapshot to propagate.

This is because 4.0 adds monitoring.json to the Snapshot (which fixes other bugs), and it's empty on upgrade.

The solution is to make the monitoring.jso

[2020-09-02 15:50] ocket8888 commented on #5005
#4916 possibly fixes this without vendoring by using the latest client and falling back on v2. Is that acceptable?

[2020-09-02 15:51] zrhoffman commented on #5005
Should specify which git ref this applies for, as TM currently (1e9b1ed345) uses the v2 traffic ops client.

[2020-09-02 15:58] mitchell852 opened #5007 "No mention of monitoring.json in API documentation for generating a snapshot"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops

## Current behavior:
There is no mention of how performing a cdn snapshot (PUT /api/version/snapshot?cdn=cdn-name) affects the output of the "monitoring" configuration file (GET cdns/{cdn}/configs/monitoring) used by Traffic Monitor.

[2020-09-02 16:43] rob05c commented on #5005
If it makes TM work with the previous major version of TO/TC, yeah.

But I'm guessing that's fundamentally incompatible with 4.x. So we'll probably need a specific fix rather than a backport for 4.1.

This was observed when upgrading to 4.0.

[2020-09-02 16:47] ocket8888 commented on #5005
It is. A fix could be made for 4.x with the same basic solution, but in that case it shouldn't be a part of master.

[2020-09-02 21:38] rimashah25 commented on #4981
@mitchell852: No, TP has it as a required field.

[2020-09-02 23:21] shamrickus commented on #1589
It looks like in the past few years these issues have been resolved. There are no raw accesses/usages of [Error](https://github.com/apache/trafficcontrol/search?p=1&q=%22log.Error.%22+filename%3A%2A.go&unscoped_q=%22log.Error.%22+filename%3A%2A.go)/[Event](https://github.com/apache/trafficcontrol/search?q=%22log.Event.%22+filename%3A*.go).

[2020-09-03 18:01] #4965 closed

[2020-09-03 18:01] #4964 closed

[2020-09-03 18:23] shamrickus opened #5010 "Reference urls for Cache Config in TP are invalid"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Documentation
-  Traffic Portal

## Current behavior:
Currently for the Edge/Mid/First/Inner/Last Header Rewrite rules, regex remap expression, raw remap text fields on a delivery service, when hovering over the field to get a description, the hyperlink leads to a 404 page.

## Expected / new behavior:
Should no

[2020-09-03 18:46] rob05c commented on #4712
Fixed by https://github.com/apache/trafficcontrol/pull/4861

[2020-09-03 18:46] #4712 closed

[2020-09-03 19:16] ocket8888 opened #5012 "Internal Server Error when missing key in POST to /deliveryservice_requests"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When passing a request that's missing the `deliveryservice` property to `/deliveryservice_request`'s POST handler, the request's goroutine will segfault and panic.

## Expected / new behavior:
Invalid requests should not be capable of causing a server-side segfault.

## Minimal re

[2020-09-03 22:12] ocket8888 opened #5014 "Creating a Delivery Service Request with an ID fails"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Because of the way workflow transitions are verified, creating a DSR with any non-null value in the `id` property will cause the request to fail. If `id` was an integer, though, it will give back the error-level alert: `sql: no rows in result set`, which is both cryptic and - look

[2020-09-03 22:45] ocket8888 opened #5015 "Creating a Delivery Service Request has issues verifying tenant access"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When submitting a POST request to `/deliveryservice_requests`, if the request body's `deliveryservice` object has no `tenantId` property (or probably also `null` but I haven't checked) the handler will return a 500 Internal Server Error to the client.

Also, the Tenant ID checked

[2020-09-03 22:56] ocket8888 commented on #5015
Actually, this also affects modification too, since it's occurring at the tenancy check and validation phase, and the endpoint uses the CRUDer so both are re-used for both PUT and POST.

[2020-09-08 15:40] mitchell852 commented on #987
I believe this is working as designed as when you add raw remap text to an any_map ds, it gets appended to the remap.config file for the servers directly assigned to the ds which would be the edges only. @limited do you understand differently?

[2020-09-08 15:43] mitchell852 commented on #939
@nir-sopher - do you think this issue is still relevant? i believe you cannot manipulate ssl keys for a ds outside your tenancy nor do i think you can affect dnssec keys at the ds-level.

[2020-09-08 15:49] mitchell852 commented on #963
@dg4prez - can you provide some more info or examples? what kind of ds plugins are you referring to?

[2020-09-08 15:50] limited commented on #987
Closing for age

[2020-09-08 15:50] #987 closed

[2020-09-08 15:51] mitchell852 commented on #964
bumping this to a minor. @dg4prez if this is a major, can you reapply the major label and provide some examples of use cases that would require this behavior?

[2020-09-08 18:16] mitchell852 commented on #965
closing as the change log was improved in #3771

[2020-09-08 18:16] #965 closed

[2020-09-08 23:18] #4979 closed

[2020-09-09 12:45] dg4prez commented on #963
I'm not sure about plugins or why that was mentioned, but the intent was anything specific to that delivery service like certificate files, profiles, origins only assigned to that DS, etc should be cleared.

[2020-09-09 14:51] mitchell852 commented on #963
i'll check but pretty sure certs and origins are removed when a ds is deleted. profiles probably not because in theory ds profiles can be used across ds's even though they probably are not.

[2020-09-09 15:06] rob05c commented on #963
Certs are removed on the next Snapshot.

Anything deleted that's used outside Snapshots (directly by TR, ORT, etc) _must_ not be deleted before the next Snapshot.

Even then, there's a bit of a race, because it takes time for the Snapshot to propagate. We should really delete stuff only after knowing the Snapshot has propagated to everything. But we don't have that data yet (it's part of the Kill

[2020-09-09 15:08] mitchell852 opened #5018 "Changing the CDN of a server should be prohibited if the server has DS assignments"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:
Server A is in CDN 1.
Server A is assigned to Delivery Services in CDN 1.
Server A can be changed to CDN 2.

## Expected / new behavior:
Changing the CDN of a server should be prohibited if the server has DS assignments.

## Minimal reproduction of the problem with instructions:

[2020-09-09 16:47] shamrickus commented on #5001
This also affects Traffic Stats, on master TS will spit out a bunch of errors:
[code]

[2020-09-09 17:07] mitchell852 opened #5019 "Topology-related DS fields are not captured in DSRs"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
The new delivery service fields introduced related to topologies (ds.topology, ds.firstHeaderRewrite, ds.innerHeaderRewrite, ds.lastHeaderRewrite) are not accounted for in delivery service requests (DSRs).

## Expected / new behavior:
The values of ds.topology, ds.firstHeaderRewri

[2020-09-09 20:54] dpham692 opened #5020 "Bug that let user create two ASNs with same number in the same cachegroup"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

1. Go to Traffic Portal
2. Click on Topology -> ASNs.
3. Create a ASNs with valid number.
4. Create another ASNs with same number in the same cache group like step 3. Notice that TP let user create it.
## Expected / new behavior:

TO and TP should not let user create 2 ASNs wit

[2020-09-09 21:22] dpham692 opened #5021 "Internal Server Error when /GET asns API with cachegroup query parameter"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Perform a /GET `https://{{TO_BASE_URL}}/api/3.0/asns?cachegroup={{cachegroupName}}`
API will return Status Code 500
[code]

## Expected / new behavior:

API should return correct ASNs that link with the cache group.
## Minimal reproduction of the problem with instructions:

##

[2020-09-11 14:08] #4618 closed

[2020-09-11 21:13] rob05c opened #5024 "Make ORT sort regex_revalidate.config by Time then URL"
The regex_revalidate.config looks like `http://url unix-timestamp`, and it's sorted alphabetically, which ends up being a pain to try to find things in.

It should be changed to sort by the time, and then by URL. That will be drastically easier for operators to work with.

## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affect

[2020-09-11 21:14] rob05c commented on #5024
Assigning to myself, but it's not a huge priority for me. If anyone else wants to take it on before I get to it, feel free.

[2020-09-11 21:24] rob05c opened #5025 "Fix TO API Update/Reval Pending Race"
Currently, there's no way to set the Server Update Pending and Reval Pending flags, without a race condition.

1. ORT/Config Generation checks the flag, sees that a Reval is needed
2. ORT generates config with the reval
3. Someone issues a new Invalidation Job, which sets the Reval Pending flag (which was already set)
4. ORT unsets the Reval Pending flag.

We need some kind of mechanism in the API

[2020-09-11 21:29] ocket8888 commented on #5025
Can this be done with an IUS PUT to `/servers/{{ID}}`?

[2020-09-11 21:40] rob05c commented on #5025
Yeah, that should be fine. It's less efficient, but probably not enough to matter.

[2020-09-14 21:43] srijeet0406 commented on #5021
This is expected behavior.
When you search by cachegroup name, you need to use `cachegroupName` as the query param.
If you want to use cachegroup ID, use `cachegroup`.
So the following two calls should work:
`GET /api/3.0/asns?cachegroupName=<your cg name here>` and
`GET /api/3.0/asns?cachegroup=<your cg ID here>`.

I spoke to @dpham692 and he was ok with closing this issue.

[2020-09-14 22:26] zrhoffman commented on #5021
Since the `cachegroup` query parameter should be an ID, it should be validated and return 400 bad request instead of 500 internal server error when the user provides a string.

[2020-09-15 15:32] mitchell852 commented on #1404
@limited - does this represent some sort of security concern? it sounds like it. want to add a severity level to this so it can hopefully get prioritized?

[2020-09-15 15:43] mitchell852 commented on #991
bumping to major because if applicable still this would have a large impact on traffic control.

[2020-09-15 15:52] mitchell852 commented on #1388
@rob05c - any thoughts on this guy?

[2020-09-15 16:01] zrhoffman commented on #1013
Fixed in 9defb11441.

[2020-09-15 16:01] #1013 closed

[2020-09-15 16:12] zrhoffman commented on #1046
Looks like this was going to be closed in #230 (not merged).

[2020-09-15 16:20] zrhoffman commented on #1060
This would take some effort to make a TP wizard that prompts the user for things that don't line up. Is there an easier way to do this?

[2020-09-15 16:23] ocket8888 commented on #1060
Also if you need to create new cachegroups and servers you might also be faced at the same time with creating new types for each of those, new physical locations, etc. which could turn "importing" a DS via prompt into a task of roughly the same length as just creating each piece manually.

[2020-09-15 19:37] dsouza93 opened #5028 "ORT syncds runs should NOT update ip_allow config for Mids"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops ORT

## Current behavior:

We've run into the following issue several times:

1. Edge caches were added to the TOP CDN that had IPs outside of the ip allow subnets in the mid’s config.
2. Some BAU syncds change in the CDN triggered a config reload (which reloads the new ip_allow conf

[2020-09-15 20:29] rob05c commented on #5028
+1 it's an ATS bug, and not updating will break an Edge, but that's much better than breaking a Mid.

We also need to make ORT log an error, explaining that the Mid needs Restarted. That way people can write Alarms around it, so they can catch the inevitable error and fix it ASAP.

[2020-09-15 20:30] rob05c commented on #5028
Labelling `bug` though it isn't really, it's a "there is no non-bug, but we can change it to a bug with a much smaller blast radius."

[2020-09-15 20:38] jhg03a commented on #5020
ASN may only belong to a single cachegroup

[2020-09-15 22:56] #4941 closed

[2020-09-15 23:23] #4912 closed

[2020-09-15 23:39] ocket8888 opened #5033 "Internal Server Error when assigning a non-existent DSR"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Trying to assign a Delivery Service Request which does not exist to any user will result in an Internal Server error.

## Expected / new behavior:
If a resource is not found, the API should communicate that with the `404 Not Found` HTTP status code.

## Minimal reproduction of the

[2020-09-16 20:59] #4680 closed

[2020-09-17 12:53] traeak opened #5035 "traffic_ops_ort/t3c etc/<directory> ownership and permissions settings need tweaking"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...

-  Traffic Ops ORT

## Current behavior:

Observed in traffic_ops_ort-4.1.0, t3c built from d809e9abc892b2dc690cd65b795e1fd1d256d151

For testing purposes I will remove trafficserver and trafficserver-debuginfo and blow away /opt/trafficserver, then run ORT badass as root.
With traffic_ops_ort.pl sub directories in

[2020-09-17 16:46] dneuman64 opened #5038 "Traffic Portal warning when user enters unusually large CIDR"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Documentation
-  Traffic Portal

## Current behavior:

Currently, a user can add an IP for a server with an unreasonable CIDR.  This is specifically true for IPv6 where CIDRs are commonly included with the IP Address. We would usually expect a /64 with an IP but a user can enter something

[2020-09-17 16:59] mitchell852 commented on #5038
Not sure if this should be done in TP (before save) or in the TO API (after save)....or both. TO API probably has better IP parsing tools...

[2020-09-17 18:47] zrhoffman opened #5042 "GitHub Actions workflow not caching Traffic Portal's NPM dependencies"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  CI tests

## Current behavior:

Maven dependency caching was added in #5036 because GitHub Actions apparently started rate-limiting downloads. NPM dependencies are not cached in our *CDN-in-a-Box CI* workflow, which includes building Traffic Portal. In the futur

[2020-09-17 19:52] ocket8888 commented on #5038
CIDR parsing is trivial to extract, though. We already have regular expressions that can match IPv4 and IPv6, and after that's known you can just extract the CIDR with a simple `parseInt(/.+\/(\d+)/.exec(ip).groups[1], 10)`.

[2020-09-17 21:54] zrhoffman commented on #3527
This was fixed in #4758, which added `git clean -fdX` (force, recursive, remove only gitignored files) to [`clean_build.sh`](https://github.com/apache/trafficcontrol/blob/45dd3c84fb/build/clean_build.sh#L58-L59).

[2020-09-17 21:54] #3527 closed

[2020-09-18 14:55] traeak opened #5050 "TP: allow side bar color to be configured on the server side"
## I'm submitting a ...

-  new feature / enhancement request
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

## Expected / new behavior:

We run multiple instances of TC in addition to prod.  It would be nice to have each TP instance use different side bar color to be able to more easily differe

[2020-09-18 19:42] #1847 closed

[2020-09-18 19:47] #4981 closed

[2020-09-18 21:38] mitchell852 commented on #5038
something like this @dneuman64 ?

![image](https://user-images.githubusercontent.com/251272/93647172-040c2600-f9c5-11ea-8e2a-856c2c364150.png)

[2020-09-18 22:22] #5007 closed

[2020-09-22 16:17] srijeet0406 opened #5060 "Github actions Go Unit tests fail sometimes (TestGetImportProfileParameters)"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Control Client
-  Traffic Monitor
-  Traffic Ops

## Current behavior:

When you make a commit or create a PR, Github actions will run a set of tests on your code. The `Golang unit tests` task sometimes fails due to a couple of known culprits. Look here: https://github.com/srijeet0406/trafficcontrol/runs

[2020-09-22 16:27] zrhoffman commented on #5060
Since these are 2 separate failing tests, would you please open a separate issue for one of them?

[2020-09-22 16:40] srijeet0406 opened #5061 "Github actions Go Unit tests fail sometimes (TestGetStats)"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Control Client
-  Traffic Monitor
-  Traffic Ops

## Current behavior:

When you make a commit or create a PR, Github actions will run a set of tests on your code. The Golang unit tests task sometimes fails due to a couple of known culprits. Look here: https://github.com/srijeet0406/trafficcontrol/runs/1

[2020-09-22 21:53] #5019 closed

[2020-09-23 00:08] jhg03a opened #5063 "Move InfluxDB Connection URLs to influxdb.conf & Add clustering support"
## I'm submitting a ...

- feature
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

### Formulation of how TO connects to InfluxDB to proxy metric queries for TP graphs today:
1. Look for Server Objects or type INFLUXDB in an ONLINE state unordered and take the first result
2. Look at the influxdb.co

[2020-09-23 16:48] mitchell852 commented on #5050
@traeak - this can be done currently using the custom.css file that comes with TP where the color schema for each instance of TP can be overridden by writing custom styles. However, I do think it would be nice to flag an instance of TP as "production" to trigger a different style or display a "PRODUCTION" banner. How does that sound?

[2020-09-23 18:05] zrhoffman commented on #4559
Fixed in 5056

[2020-09-23 18:05] #4559 closed

[2020-09-23 19:54] traeak commented on #5050
I think it's fine to do this.  The color per TP instance type is "handy" if working in more than 2 instances of TP (for us prod, staging, nightly, etc...) but real damage can only be done on prod.

[2020-09-23 20:23] ocket8888 commented on #5061
The line where that's failing is checking the actual memory of the machine running the test using `runtime`, so for small virtual machines dedicated to running Go unit tests and nothing else it's not unreasonable that they'd be using less than a megabyte of memory. So I think that particular expectation of the test should be removed.

[2020-09-24 15:55] rob05c commented on #5028
Fixed by https://github.com/apache/trafficcontrol/pull/5041

[2020-09-24 15:55] #5028 closed

[2020-09-24 15:56] #5038 closed

[2020-09-24 16:34] zrhoffman opened #5069 "SteeringTest fails when LetsEncryptDnsChallengeWatcher hangs"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Router

## Current behavior:

When running the Traffic Router tests in `ExternalTestSuite`, SteeringTest fails with

[code]

## Expected behavior:

The tests in `SteeringTest` should pass

## Minimal reproduction of the problem with instructions:

Run the external tests. For convenience, I have made a br

[2020-09-24 16:42] #4487 closed

[2020-09-24 19:47] #5050 closed

[2020-09-28 18:03] zrhoffman opened #5074 "CreateStats not adding availability data for <server>: not found in DeliveryServices"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Monitor

## Current behavior:

These messages show up in the Traffic Monitor logs:

[code]

## Expected behavior:

Not having those warnings. This check can just be removed for mids, since topologies do not give information about mids in the snapshot.

## Minimal reproduction of the problem with instruct

[2020-09-28 20:34] mitchell852 opened #5075 "Invalid ssl keys when the cdn of a delivery service is changed"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...

-  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal
-  Traffic Router
-  Traffic Vault

## Current behavior:
a ds w/ ssl keys has ssl keys of 1 of 3 types:
- self-signed ssl keys generated via the TO API generate endpoint
- ssl keys generated via the Lets Encrypt TO API generate endpoint
- ssl keys that were manuall

[2020-09-28 21:28] rawlinp commented on #4876
This is related to #4034, so whoever fixes this could also fix that one at the same time.

[2020-09-28 21:36] rawlinp opened #5076 "TP: When adding a capability to a server or delivery service, filter out the capabilities it already has from list"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
When adding a server capability to a server or adding a required capability to a delivery service, the dropdown list includes capabilities that have already been added to the server/delivery service.

## New behavior:
The dropd

[2020-09-28 22:34] #5020 closed

[2020-09-29 11:12] Siva-Karthi commented on #5076
@rawlinp  I like to try this. Will do the setup, reproduce and add here if any more info needed

[2020-09-29 16:18] srijeet0406 opened #5079 "Getting delivery service servers returns empty array for non-topology based delivery services"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Ops

## Current behavior:

For a non topology based DS that has servers assigned, a call to `GET api/3.0/servers?dsId=<your ds ID>` returns an empty response.

## Expected behavior:
We should be able to see the servers associated with the delivery service in the response.

## Minimal repr

[2020-09-29 16:32] rawlinp commented on #5079
I think this might've been introduced in https://github.com/apache/trafficcontrol/pull/5054

[2020-09-29 17:57] #5001 closed

[2020-09-29 22:22] dpham692 opened #5081 "Cannot change cache group of an ASN"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

Right now, user cannot change the cache group of an ASNs. Even when it is the only one ASN.
## Expected behavior:

TP should let user change the cachegroup of the ASN.
## Minimal reproduction of the problem with instructions:

1. Go to TP, create an ASN.
2. Try to change the

[2020-09-30 16:55] #5079 closed

[2020-09-30 21:00] #5018 closed

[2020-10-01 15:23] #3455 closed, assigned to nobody

[2020-10-01 15:32] rawlinp commented on #4572
@zrhoffman this is pretty much done, right? Can this be closed?

[2020-10-02 17:59] #5074 closed

[2020-10-02 21:31] #4237 closed

[2020-10-04 01:11] neelkamath commented on #4461
I'll try fixing it

[2020-10-05 16:04] ocket8888 commented on #4461
Can we just get rid of `copy-pgdata.sh`? Isn't that a tool designed to help migrate from MySQL to PostgresQL?

[2020-10-05 16:43] jdawgitsome opened #5097 "Support for ATS secondary_mode."
## I'm submitting a ...
-  new feature / enhancement request

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
Currently there is a feature  in ATS called [secondary_mode](https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/files/parent.config.en.html?highlight=secondary_mode) that ORT does not apply.

## New behavior:
Have ORT pull a Parameter set for a c

[2020-10-05 17:15] zrhoffman opened #5098 "Validate delivery service topology when adding a ds required server capability"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

We have no topologies validation when adding delivery service required capabilities

## New behavior:

If a delivery service has a topology assigned, adding a delivery service required server capability must not invalidate the

[2020-10-05 17:22] zrhoffman opened #5099 "Validate topology field on PUT /deliveryservices with respect to required capabilities"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

We do not have validation on `PUT /api/3.0/deliveryservices/:id` when the DS has a topology and the DS has required capabilities.

## New behavior:

As a CDN operator, I'd like ensure that the topology I've chosen for my delive

[2020-10-05 20:11] ocket8888 opened #5102 "toaccess scripts fail silently on authentication errors"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Control Client (Python)

## Current behavior:
Scripts provided by the `toaccess` package fail silently when an error occurs during authentication - but not necessarily just the ones that come from authentication problems. For example, if the TO server uses self-signed certificates and `-k`/`--insecure` is

[2020-10-05 20:17] ocket8888 opened #5103 "toaccess scripts crash on connection failure"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Control Client (Python)

## Current behavior:
When a connection-level error occurs, the scripts provided by the `toaccess` package crash, printing a stack trace to stderr.

## Expected behavior:
When errors occur, scripts should print legibly what went wrong to stderr, then exit with an error code (it does

[2020-10-05 20:23] ocket8888 commented on #4420
This was fixed by #4794

[2020-10-05 20:23] #4420 closed

[2020-10-05 21:22] smalenfant opened #5105 "ORT 4.1 not compatible with Traffic Ops 3.0.1"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
The 1.4 API route is used and only 1.3 API is available in Traffic Ops 3.0.1

## Expected behavior:
ORT to be able to log in to our Traffic Ops

## Minimal reproduction of the problem with instructions:
- Traffic Ops 3.x
- Traffic Ops ORT 4.1

[2020-10-05 21:29] smalenfant opened #5106 "Traffic Portal trims "space" from the end of the text area"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
When entering text in the "value" box in the parameter section. If you add spaces at end (because it was required for my application), they get trimmed when saving.

## Expected behavior:
Text should stay as entered by the user

## Minimal reproduction of the problem with instr

[2020-10-05 21:33] dneuman64 commented on #5106
iirc, we did this on purpose because we had issues in production with a blank space at the end of the line in one of the configs.
As much as its a pain, it might be best to use some sort of string to indicate a blank space?  Something like __space__

[2020-10-05 21:35] ocket8888 commented on #5106
We could also highlight trailing spaces to make it more obvious what's going to happen

[2020-10-05 21:36] rob05c commented on #5105
Yeah, looks like the wrong client got vendored. Whatever we vendored has `apiBase = 1.4`, needs to be 1.3 for 3.0.x

[2020-10-05 22:34] mitchell852 commented on #3746
removed `bug` label and applied `tech debt` label as this is more of a product of bad design imo. don't worry, it's being addressed regardless by @ocket8888

[2020-10-05 23:40] zrhoffman commented on #4984
@jhg03a Are you still able to reproduce this? I am able to run Postinstall twice without issue.

[2020-10-06 02:58] zrhoffman commented on #4984
Spoke to @jhg03a, got a longer log of the failure:

[code]

[2020-10-06 13:00] smalenfant commented on #1011
ntpd is not supported anymore in Centos 8. Deprecated in Centos 7. This ntp check should be removed from ORT.

[2020-10-06 15:18] mitchell852 commented on #5010
closed with #5027

[2020-10-06 15:18] #5010 closed

[2020-10-06 17:53] #2712 closed

[2020-10-07 15:11] zrhoffman commented on #5098
Fixed in #5093

[2020-10-07 15:11] #5098 closed

[2020-10-07 15:15] #4738 closed

[2020-10-07 15:31] zrhoffman opened #5115 "TestLogs: GET logs by limit: incorrect number of logs returned"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops (API tests)

## Current behavior:

The `TestLogs` API test fails when run by itself

## Expected behavior:

All API tests should pass

## Minimal reproduction of the problem with instructions:

In the `traffic_ops/testing/api` directory:
1. Start Traffic Ops

2. Configure `traffic-ops-test.conf`

3.

[2020-10-07 16:10] zrhoffman opened #5116 "TestDeliveryServices: unable to get keys on cdn sslkeytransfer: 500 Internal Server Error"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops (API tests)

## Current behavior:

The `TestDeliveryServices` API test fails when run by itself

## Expected behavior:

All API tests should pass

## Minimal reproduction of the problem with instructions:

In the `traffic_ops/testing/api` directory:
1. Start CDN-in-a-Box

2. Configure `traffic-ops-te

[2020-10-07 17:22] rob05c opened #5117 "Change ORT to Calculate parent_pending Itself"
Currently, ORT uses the `parent_pending` flag in a TO endpoint to determine whether any parents of the current server have updates pending.

We should change ORT to calculate this itself. It has all the data to do so.

The calculation itself is logic (mostly SQL) performed on the data. Logic that becomes more complex with the move from DeliveryServiceServers to Topologies.

This is just one more t

[2020-10-07 17:22] rob05c commented on #5117
Related to https://github.com/apache/trafficcontrol/issues/3687

[2020-10-07 17:23] rob05c commented on #5117
Related to https://github.com/apache/trafficcontrol/pull/3689

[2020-10-07 17:25] mitchell852 commented on #3687
Potentially solved or mitigated with #5117

[2020-10-07 19:15] dneuman64 opened #5118 "Traffic Stats -- Support Kafka as an output"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Stats

## Current behavior:

Currently, Traffic Stats can only be configured to send TS data to InfluxDB.

## New behavior:

Traffic Stats can be configured to send data to InfluxDB, Kafka, or Both.
The configuration will support all information needed to send to Kafka, including T

[2020-10-08 11:44] smalenfant commented on #5118
@dneuman64 We accomplished this goal by sending to telegraf and using the Kafka output. This was mostly to bridge the data to Elasticsearch. Although a direct implementation would be more robust. We used the influx_relay output to telegraf.

[code]

[2020-10-08 16:32] zrhoffman opened #5123 "Error while running github feature from .asf.yaml in trafficcontrol"
Sent to commits@trafficcontrol.apache.org (https://mail-archives.apache.org/mod_mbox/trafficcontrol-commits/202010.mbox/browser):

Related to #5120

[2020-10-08 16:55] #5115 closed

[2020-10-08 17:00] rob05c opened #5125 "Traffic Monitor Null Pointer Crash"
Traffic Monitor is accessing `ReqInf.RemoteAddr` without checking for `nil` here:
https://github.com/apache/trafficcontrol/blob/2609e6fc59d98ae1985f0424f28956c6970b585d/traffic_monitor/towrap/towrap.go#L346
https://github.com/apache/trafficcontrol/blob/2609e6fc59d98ae1985f0424f28956c6970b585d/traffic_monitor/towrap/towrap.go#L355

The `traffic_ops/*client*` returned `ReqInf.RemoteAddr` is guarante

[2020-10-08 17:09] rawlinp commented on #5123
Interesting...I didn't realize they had to be lowercase. I'll try again.

[2020-10-08 17:30] #5123 closed

[2020-10-08 19:14] zrhoffman commented on #1906
Closed in #3534

[2020-10-08 19:14] #1906 closed

[2020-10-08 21:38] #5075 closed

[2020-10-08 21:38] #5116 closed

[2020-10-08 21:42] mattjackson220 commented on #2805
reopening because only partially fixed in #5083

[2020-10-08 23:52] jhg03a opened #5129 "TM fails to return 404"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Monitor

## Current behavior:

TM responds to any URI path it doesn't know about with a broken http page and a 200 response code.

## Expected behavior:

TM should return a 404 for anything it doesn't handle

## Minimal reproduction of the problem with instructions:

curl -vs http://trafficmonitor-01.cdn

[2020-10-09 00:00] jhg03a opened #5130 "Add TM cache-control headers"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Monitor

## Current behavior:

There are no cache control headers included with TM responses.

## New behavior:

Please add either `Cache-Control: no-cache` or `Cache-Control: max-age=1` to all TM responses.  It's not generally appropriate for TM content

[2020-10-09 19:29] #5099 closed

[2020-10-09 19:52] #5081 closed

[2020-10-12 16:59] zrhoffman commented on #4572
Yep looks done!

[2020-10-12 16:59] #4572 closed

[2020-10-13 15:42] zrhoffman opened #5143 "Traffic Ops should prohibit adding a cache group with no servers to a topology"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

You can create a topology that contains a cachegroup with no servers in it, even though a delivery service that uses such a topology will not work.

## New behavior:

Users should be prohibited from creating topologies whose cachegroups do not each contai

[2020-10-13 17:04] mitchell852 commented on #4838
this issue is no longer relevant. the behavior has been changed to require a double-click to ensure that grid values can be copied w/o triggering a row click.

[2020-10-13 17:04] #4838 closed

[2020-10-13 21:27] #4292 closed

[2020-10-14 01:43] mitchell852 opened #5147 "GET /servers?dsId={id} returning mid servers outside of the ds's cdn"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:
When a DS does not utilize a topology, GET /servers?dsId={id} should return ALL servers employed by the DS. This would include all direct edge or org server assignments as well as any implicitly assigned mids. However, servers outside of the ds's cdn should never be returned. Cu

[2020-10-14 14:59] smalenfant opened #5149 "ORT: Delete untracked files due to removed header rewrite or delivery delivery services"
## I'm submitting a enhancement request

Today, removed header rewrite from TO or deleted delivery services keeps the files on disk. I would call this garbage collection that needs cleaned up.

This might apply more than just header rewrite.

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
header rewrite are kept when header rewrite parameter are removed and whe

[2020-10-14 15:22] rob05c commented on #5149
More than just garbage, this can potentially cause bugs. E.g. if a Header Rewrite is completely removed from a DS, it can end up sticking around because ORT no longer knows the file exists

[2020-10-14 15:56] smalenfant opened #5150 "ORT: unavailable_server_retry_responses having parsing issues"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
Only quotes string with 2 parameters are valid for `unavailable_server_retry_responses`. Other valid string get ignored and parameters are not been written into the parent.config.

## Expected behavior:
Setting `unavailable_server_retry_responses` to `503` should work. Shouldn

[2020-10-14 15:59] zrhoffman opened #5151 "TP: Allow users to assign ORG servers to topology-based DS"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

Traffic Portal prevents users from creating deliveryservice server assignments for topology-based delivery services.

## New behavior:

To support Multi-Site Origin, `ORG` servers must always be directly assignable to a Delivery Service in Traffic Port

[2020-10-14 15:59] zrhoffman opened #5152 "TO: Allow users to assign ORG servers to topology-based DS"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Traffic Ops prevents users from creating deliveryservice server assignments for topology-based delivery services.

## New behavior:

To support Multi-Site Origin, `ORG` servers must always be directly assignable to a Delivery Service in Traffic Ops regard

[2020-10-14 16:10] rob05c commented on #5150
Bug is in the regex here: https://github.com/apache/trafficcontrol/blob/bcd54dfd200e0b389e3f2a80cd626d7b7679db8a/lib/go-atscfg/parentdotconfig.go#L1091

[2020-10-14 16:15] zrhoffman commented on #5152
Traffic Ops already allows ORG servers to be assigned to topology-based delivery services. Traffic Portal does not, so #5151 should stay open.

[2020-10-14 16:15] #5152 closed

[2020-10-14 16:26] #5103 closed

[2020-10-14 18:13] zrhoffman commented on #4984
Changed from [regression bug](https://github.com/apache/trafficcontrol/labels/regression%20bug) to [bug](https://github.com/apache/trafficcontrol/labels/bug). Postinstall can be run twice, what does not work is running it twice concurrently, since it is not marked as having run until Postinstall completes.

[2020-10-14 18:18] #5143 closed

[2020-10-14 18:32] saoyag001 opened #5153 "Bug - TO right click menu on servers tab is sometimes cut off if you have reached end of list"
## I am submitting a...

-  bug report

-  Traffic Portal Version: 4.1.0-10702.c5c3723f.el7

## Current behavior:
When reaching the end of a server list, and right clicking on the host for quick options, the popup menu gets cut off

## Expected behavior:
menu should display above where there is room to display all options

## Minimal reproduction of the problem with instructions:
<img width="477"

[2020-10-14 18:48] shamrickus commented on #5153
I got this

[2020-10-14 19:01] zrhoffman opened #5154 "Traffic Ops should prohibit deleting the last Server in a Cache Group that is assigned to a Topology"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Servers can be deleted or removed from a Cache Group used by a Topology, even if it means that Cache Group would no longer have any Servers in it.

#5144 already added this validation for `POST` and `PUT /api/3.0/topologies`, so if such a Server was delet

[2020-10-14 19:20] #4882 closed

[2020-10-14 22:42] #5154 closed

[2020-10-15 00:12] zrhoffman opened #5157 "TO should include ORG servers on /servers?dsId=X for Topology-based DSes"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

GET /servers?dsId=X does not include ORG-type servers assigned to the Delivery Service for Topology-based Delivery Services

## New behavior:

To support MSO on topology and non-topology delivery services, direct ORG server assignments need to be supporte

[2020-10-15 15:53] #4984 closed

[2020-10-15 17:00] ocket8888 opened #5159 "CiaB produces invalid configuration/required parameter is undocumented"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  CDN in a Box
-  Documentation
-  Traffic Ops ORT

## Current behavior:
CDN-in-a-Box's cache server Profiles are missing the required Parameter:
[code]

Which is also not present anywhere in documentation. If this Parameter is not present, `atstccfg` will assume that the server is using the unsupported ATS version

[2020-10-15 18:48] #5097 closed

[2020-10-15 20:59] #5147 closed

[2020-10-16 16:03] rawlinp commented on #5005
Fixed on master and 4.1.x now.

[2020-10-16 16:03] #5005 closed

[2020-10-16 16:03] rawlinp commented on #5006
Fixed in 4.1.x via https://github.com/apache/trafficcontrol/pull/5141

[2020-10-16 16:03] #5006 closed

[2020-10-16 17:52] dpham692 opened #5161 "TP and TO API are validating topology name differently"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Right now, user can create topologies with special characters like hyphen via Topologies API below.
`https://{{TO_BASE_URL}}/api/3.0/topologies`
## Expected behavior:

TO should not let user create Topologies with special characters like hyphen
## Minimal reproduction of the pr

[2020-10-16 17:55] ocket8888 commented on #5161
Or should TP's restrictions be relaxed?

[2020-10-16 18:02] rawlinp commented on #5161
I agree w/ @ocket8888 -- TP restrictions should be relaxed instead.

[2020-10-17 05:01] zrhoffman opened #5165 "Last-Server-In-Cache Group validation runs when Cache Group has not changed"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Server validation will fail due to it being the last Server in its Cache Group if
1. The Server is in a Topology-based Cache Group
2. The Server is updated

## Expected behavior:

Validation should only fail on a Server due to it being the last Server in its Cache Group if the

[2020-10-17 13:07] smalenfant opened #5167 "ORT: RPM install creates a atstccfg.log.rpmsave"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
When you install ORT, the way the rpm is packaged creates a rpmsave entry for logs. The logs shouldn't be touched at all during upgrade.

[code]

## Expected behavior:
Don't roll the log into an .rpmsave

## Minimal reproduction of the problem with instructions:
Simply upgrade

[2020-10-19 15:49] #5165 closed

[2020-10-19 17:49] #5151 closed

[2020-10-19 17:49] #5157 closed

[2020-10-19 17:58] #5153 closed

[2020-10-20 15:40] mitchell852 commented on #954
@nir-sopher - this could warrant a blueprint / mailing list discussion. Want to start that?

[2020-10-20 15:45] mitchell852 commented on #1038
TP will give you this validation message: `Must be a valid DNS label (no special characters, capital letters, periods, underscores, or spaces and cannot begin or end with a hyphen)` and I believe the TO API does the same validation. Closing.

[2020-10-20 15:45] #1038 closed

[2020-10-20 15:48] mitchell852 commented on #1085
cacheurl is no longer used in later versions of ATS. @mtorluemke @MattMills mind closing this or adding more info?

[2020-10-20 15:50] mitchell852 commented on #1078
no harm in queuing updates on the parent AND the children. closing.

[2020-10-20 15:50] #1078 closed

[2020-10-20 15:52] rawlinp commented on #954
This sounds a lot like https://cwiki.apache.org/confluence/display/TC/Self+Service+Change+Integrity.

[2020-10-20 15:54] mitchell852 commented on #928
TP/TO API does provide the date of expiration of a delivery service's SSL cert (1 & 2 from above). However, it does not provide 3 & 4 as other tools are used for that. Can we close this @ryandurfey @ashish-timilsina ?

[2020-10-20 15:57] zrhoffman commented on #1997
Does the "clone profile" feature not cover this? Not being able to change the CDN of a profile associated with a server is a validation feature, not a bug.

[2020-10-20 16:41] zrhoffman opened #5171 "Need to validate PUT/DELETE /servers satisfying a Topology-based Delivery Service's Required Capabilities"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

On PUT /servers, it is possible to change the CDN of a server to unsatisfy a Topology-based Delivery Service's Required Capabilities.

## New behavior:

We need validation to prevent that.

## Minimal reproduction of the problem with instructions:

Scenar

[2020-10-20 17:16] zrhoffman opened #5172 "Traffic Ops API Tests GitHub Action hangs when a test fails"
## I'm submitting a ...

-  bug report
-  other

## Traffic Control components affected ...

-  Traffic Ops
-  CI tests

## Current behavior:

When the Traffic Ops API Tests GitHub Action runs and a test fails, the test keeps running for awhile and then times out with `panic: test timed out after 10m0s`, followed by a stack trace of all of the goroutines involved, which spans hundreds of lines (se

[2020-10-20 18:14] zrhoffman opened #5173 "When updating a delivery service's topology, ensure its assigned ORG server cachegroups are in the topology"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## New behavior:

When updating a topology-based delivery service, we should validate that its assigned (if any) ORG servers' cachegroups are contained within the chosen topology.

The following route is affected:

    PUT /api/3.0/deliveryservices

[2020-10-20 18:14] zrhoffman opened #5174 "Validate the assignment of ORG servers to topology-based delivery services"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## New behavior:

In order to ensure that a delivery service's topology corresponds to reality, we should validate that when assigning an ORG server to a topology-based delivery service (for MSO purposes), that the cachegroup of the ORG server is contained in the delivery serv

[2020-10-20 18:14] zrhoffman opened #5175 "When updating a topology, ensure that the cachegroups of its delivery services' assigned ORG servers are still contained"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## New behavior:

When updating a topology, we should perform the following validation:

* for every delivery service assigned to that topology that has ORG servers assigned, the cachegroups of those ORG servers should still be contained in the topology

The following endpoint

[2020-10-20 19:02] mitchell852 commented on #2811
I can't even recall what a `filter` is tbh and what endpoint is used to manage these "filters"?

[2020-10-20 19:34] ocket8888 commented on #5172
I **really** hope Go tests aren't causing a "_kernel_ panic"

[2020-10-20 19:40] zrhoffman commented on #5172
Oops, I was on autopilot. No kernel panic, just the regular kind.

[2020-10-20 20:05] rawlinp commented on #2811
IIRC a filter is a DS regex of type `STEERING_REGEXP`, which, when assigned to _target_ delivery service, will cause that steering target to be preferred if the requested URL matches that regex.

[2020-10-20 20:09] #5172 closed

[2020-10-20 20:28] MattMills commented on #1085
I'd leave it up to Mark, I think I was just copying the issue from the old Comcast repo into Jira.

[2020-10-21 15:33] hmahdiany opened #5180 "Global Max Mbps and Tps is not send to TM"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Monitor
-  Traffic Ops
-  Traffic Portal

## Current behavior:

When a value for Global Max Mbps or Global Max Tps is defined through TP these values is not sent to TM and can not be seen at "api/monitor-config", consequently when the amount of traffic which is being delivered for DS reaches those values

[2020-10-21 16:25] mitchell852 commented on #2811
thanks for the clarification! and it looks like you can already do that in TP :)

![image](https://user-images.githubusercontent.com/251272/96749106-9f5b3700-1387-11eb-8536-a9c7163a7ac6.png)

want to close this @ocket8888 ?

[2020-10-21 16:39] ocket8888 commented on #5180
Anyone know if this is a regression?

[2020-10-21 17:02] saoyag001 commented on #5153
testing in my lab works, popupa doesnt extend past the boundaries of hte window.
Thanks!

[2020-10-21 18:02] dneuman64 commented on #5180
It is definitely in 4.0 or 4.1, whatever he is using.
IMO we should get this into 5.0.

[2020-10-21 21:02] zrhoffman opened #5182 "Traffic Vault: Process <0.325.0> with 0 neighbours crashed with reason: no match of right hand value {error,closed}"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Vault
-  CI tests

## Current behavior:

In CDN in a Box, Traffic Vault sometimes crashes when starting up with this message:
[code]

See *Anything else* for context in the logs.

This affects our CI because the CDN in a Box Readiness check will sometimes fail due to this (after timing ou

[2020-10-21 22:39] mitchell852 commented on #3528
severity? minor, medium, major? @rob05c

[2020-10-21 22:40] mitchell852 commented on #5180
severity? minor, medium, major?

[2020-10-21 23:00] rob05c commented on #3528
Eh, it'd be major if it were a regression. But it hasn't worked in ages, if ever. Medium?

[2020-10-22 00:43] #3528 closed

[2020-10-22 00:43] #5180 closed

[2020-10-22 17:43] #3509 closed

[2020-10-23 21:50] dpham692 opened #5188 "TP: error message doesn't display properly when fulfilling an invalid DSR immediately"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

The error message does not display after user assign a Topology to a DS that has Required Capabilities.

## Expected behavior:

The error message should display so user know the DS is updated or not.
## Minimal reproduction of the problem with instructions:

Create a new ser

[2020-10-23 23:02] rawlinp commented on #5188
![image](https://user-images.githubusercontent.com/6724053/97060645-3cb59700-1551-11eb-8065-7a97d8d5fcd4.png)

Verified: that is what I see in the chrome dev tools view, so the TO API is properly returning a 400. However, TP is not displaying this error message at the top of the page like it should.

[2020-10-26 19:26] rawlinp opened #5191 "Traffic Ops IMS query for /federations/all doesn't work"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When requesting the `GET /federations/all` route with `use_ims = true` in cdn.conf, the following warning message is printed:
[code]
This is because the query doesn't use a parameter, but a parameter `""` is passed anyways:
[code]

## Expected behavior:
The query should not be pas

[2020-10-26 19:42] rawlinp opened #5192 "TO logs warnings when generating snapshots for topology-based delivery services"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Traffic Ops logs a warning when generating snapshots for topology-based delivery services:
[code]

## Expected behavior:
Traffic Ops should not log this warning when generating snapshots for topology-based delivery services.

## Minimal reproduction of the problem with instruction

[2020-10-26 20:41] mitchell852 opened #5195 "Change log / audit log error when snapshotting a cdn"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:

## Expected behavior:
The following change/audit log entry is created when a cdn is snapshotted:

[code]

Should be:

[code]

## Minimal reproduction of the problem with instructions:
PUT /api/version/snapshot and view the created change/audit log entry.

[2020-10-26 21:52] zrhoffman opened #5197 "TP: Allow users to assign topology-based DS to ORG servers"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

Traffic Portal prevents users from creating deliveryservice server assignments for topology-based delivery services by going to Server -> Manager Delivery Services.

## New behavior:

To support Multi-Site Origin, Delivery Services must must always be

[2020-10-26 22:07] zrhoffman commented on #5197
Note that this does *not* block 5.0

[2020-10-26 22:30] mitchell852 commented on #5188
This should not be closed yet as a DSR is incorrectly created/completed when the update to the DS fails API validation. reopening.

[2020-10-26 22:39] #5188 closed

[2020-10-27 17:17] zrhoffman opened #5203 "TestDeliveryServices API test fails: 403 Forbidden"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

The `TestDeliveryServices` API test fails when `includeSystemTests` is enabled.

## Expected behavior:

All API tests should pass.

## Minimal reproduction of the problem with instructions:

1. Build and start CDN-in-a-Box, since Traffic Vault is required to reproduce the faile

[2020-10-27 17:43] zrhoffman commented on #5069
Since I haven't PRed it yet: The [`zrhoffman/tr-int-test`](/zrhoffman/trafficcontrol/commits/tr-int-test) branch can be used to run the Traffic Router External Tests.

1. Start CDN-in-a-Box
2. Wait for Traffic Monitor to start, since it is used by some Integration Tests (like AbstractResourceWatcherTest)
3. Run the Traffic Router External Tests and Integration Tests:
[code]

You can also debug the

[2020-10-27 19:08] rob05c commented on #5105
Fixed by https://github.com/apache/trafficcontrol/pull/5113

[2020-10-27 19:08] #5105 closed

[2020-10-27 19:52] rob05c commented on #4970
Implemented in https://github.com/apache/trafficcontrol/pull/4990

[2020-10-27 19:52] #4970 closed

[2020-10-28 15:28] traeak opened #5211 "Server page: restore to single click navigate and add "copy cell contents" menu item."
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

Version: 5.0.0 from 2020-10-22
New functionality on the servers page requires a double click to navigate to the specific server instead of a single click that was there before.  First off there's no indication that double cl

[2020-10-28 15:55] rawlinp commented on #5211
+1

[2020-10-28 16:04] shamrickus commented on #5211
We could detect if the mouse is held down, if so then don't open the server (to allow copying); but, if the mouse is just clicked then it will open the server as usual.

[2020-10-28 16:11] rob05c commented on #5211
+1 - double-click is very unintuitive to me. I would've never guessed that.

So, I frequently want to select and copy text from the Servers page, e.g. hosts and IPs to put in a terminal or URL bar. I assume that's the problem double-click was trying to solve.

As Steve said, detect hold-downs. Could we make the UI event onmouseup instead of down, and detect if text was selected, and if so not trig

[2020-10-28 16:16] mitchell852 commented on #5211
yes, that's what double-click was trying to solve and yes, double click not intuitive. will revert and look at better solutions to the copy/paste pain.

[2020-10-28 16:21] rawlinp opened #5212 "Reduce the number of DB requests made in ValidateServerCapabilities()"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
TO currently makes a DB request per server in the `ValidateServerCapabilities()` function: https://github.com/apache/trafficcontrol/blob/b99eda51b03505f48d67aadf481d16470455a7f4/traffic_ops/traffic_ops_golang/deliveryservice/serve

[2020-10-28 17:04] mitchell852 opened #5213 "TP: cannot delete delivery service invalidation requests via context menu"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
UI error when trying to delete a delivery service invalidation request via context menu at https://tp.domain.tld/#!/delivery-services/{id}/jobs

![image](https://user-images.githubusercontent.com/251272/97470285-fb383980-190c-11eb-9f49-d10e86dd80f5.png)

Error:

[code]
Occurrin

[2020-10-28 18:07] RaviTezu commented on #5212
@rawlinp I would like to take this up. Could you please assign this to me?

[2020-10-28 18:10] #5203 closed

[2020-10-28 18:17] mitchell852 commented on #5213
ok, i think i know what's going on here. i can take this one.

[2020-10-28 18:33] rawlinp opened #5216 "TP has "Link delivery services to server" button as well as under the "More" menu"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
TP has two buttons that both link delivery services to a server in the `/#!/servers/id/delivery-services` page:
![image](https://user-images.githubusercontent.com/6724053/97480699-6556db80-1919-11eb-9750-339432a0c92a.png)

## Expected behavior:
The `More` menu item for linking

[2020-10-28 18:38] mitchell852 commented on #5216
yeah, seems redundant but is it a bug? or did I do this on purpose? :) maybe it's an "improvement" instead?

[2020-10-28 19:12] rawlinp commented on #5216
Yeah, probably an improvement rather than a bug. I almost didn't open this because it seems so trivial 😄

[2020-10-28 19:27] smalenfant commented on #3183
I'm getting something similar on master (October 27th 2020).

[code]

[2020-10-28 19:32] smalenfant commented on #3183
Restarted Traffic Stats and could not reproduce (enabled debug).

[2020-10-29 15:33] #5213 closed

[2020-10-29 15:46] RaviTezu commented on #5212
@rawlinp Just want to check I am going in the right direction before I start on this.
- I am thinking of adding a modifying `GetServerCapabilitiesFromName` method to take a list of server names and then modify the query in way that I can fetch the data/capabilities for all the servers and return them for validation.
- Also, I would like to know where I can get more information on how to construct

[2020-10-29 16:11] rawlinp commented on #5212
@RaviTezu that sounds like a reasonable idea. This query should be a good example for you to modify for `GetServerCapabilitiesFromName`: https://github.com/apache/trafficcontrol/blob/b99eda51b03505f48d67aadf481d16470455a7f4/traffic_ops/traffic_ops_golang/deliveryservice/deliveryservices_required_capabilities.go#L348-L360

[2020-10-29 17:13] mitchell852 commented on #5197
@zrhoffman - didn't i already to this? i forget :)

[2020-10-29 17:29] zrhoffman commented on #5197
You added TP support for assigning ORG servers to a DS in #5164. This issue is for assigning DSes to an ORG server from the Server -> Manage Delivery Services page.

[2020-10-29 17:29] rawlinp opened #5218 "Add delivery service server assignment safeties to Traffic Ops"
## I'm submitting a ...
-  new feature / enhancement request

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Currently, you can inadvertently cause a delivery service outage (for HTTP/DNS-types) by:
1. Unassigning all servers from an active delivery service (this one is probably the least accidental, but should probably still be prohibited)
2. Deleting the last ser

[2020-10-29 18:17] #5211 closed

[2020-10-29 18:26] mitchell852 commented on #5197
oh the other way around, gotcha

[2020-10-29 21:18] #5216 closed

[2020-11-02 17:59] zrhoffman commented on #3340
If we do this, we'll want to re-organize the non-API-endpoint packages as well so that the `api` directory sticks out more, since that's where the important stuff will be.

IMO it would make sense to do this after we remove Traffic Ops Perl so the normal `traffic_ops` directory can be *the* directory for Traffic Ops Golang.

[2020-11-02 23:36] jhg03a opened #5237 "Generate ISO broken with IPv6 addresses"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

When trying to use the /isos 3.0 interface with both an IPv4 and IPv6 IP specified, TO returns an error message back to TP indicating the IPv6 address is invalid when a CIDR netmask is included like normal.  Looks like at some point we accidentally made the form validation in T

[2020-11-02 23:53] ocket8888 commented on #5237
Is it working in API 2.0 and/or 1.x?

[2020-11-03 06:06] jhg03a commented on #5237
I tested with 2.x and the same results.

[2020-11-03 15:46] #5161 closed

[2020-11-03 15:46] #5197 closed

[2020-11-04 13:46] smalenfant opened #5241 "Traffic Portal port 8080 redirect incorrect"
## I'm submitting a ...
-  bug report

Traffic Portal seems to open up 2 ports. 8080 and 443. Along with this bug report, I'd like to know what port 8080 is used for and should it be only binding locally?

The current redirect is incorrect as well. Please the "current behavior"

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:

[code]

## Expected behavior:

[code

[2020-11-04 13:54] smalenfant commented on #5241
Looks like our configuration is on port 8080. The default to port 80 works. Looks like we have an old template of the config.js.

There might need some "stripping" of ports needed. Not really affecting much right now.

If you also look at the redirect on port 80:

[code]

[2020-11-04 16:34] ocket8888 commented on #5237
Should IPv6 Gateways also be allowed to have CIDR prefixes?

[2020-11-04 16:44] jhg03a commented on #5237
No

[2020-11-04 20:13] dsouza93 opened #5244 "Limit request_header_max_size per DS"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal

## Current behavior:

Currently, ATS' request_header_max_size is only configurable globally. It is not set on a per delivery service basis. Delivery service owners should have the ability to increase their header_max_size a

[2020-11-04 20:15] shamrickus opened #5245 "TO Go Plugin dependencies are not fetched"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Ops

## Current behavior:
If a TO Go plugin uses a dependency that needs to be fetched via `go get`, `pkg` will always fail

## Expected behavior:
TO Go plugin dependencies should be fetched.

## Minimal reproduction of the problem with instructions:

Reference a Go library in a plugin th

[2020-11-04 21:04] ocket8888 commented on #5245
should those not just be vendored?

[2020-11-04 22:55] rob05c commented on #5244
+1 - this is something every DS owner should at least think about. Setting it poorly is a security vulnerability on their end.
The options are DS field, Parameter, or custom Header Rewrite text. The latter two are unintuitive and dangerous. IMO this is important enough to warrant a DS field.

[2020-11-05 16:02] shamrickus commented on #5245
Yes

[2020-11-05 16:02] #5245 closed

[2020-11-05 16:34] mitchell852 commented on #1876
not sure why this was closed. reopening.

[2020-11-06 13:57] traeak opened #5254 "Add a Mid raw remap text field for delivery services."
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal
-  CI tests

## Current behavior:

Currently the Delivery Service page in TP has a "Raw Remap Text" field which just applies to the Edge remap rules.

## New behavior:

I'd like this to be split i

[2020-11-06 16:46] #5237 closed

[2020-11-06 17:26] rawlinp commented on #5254
With topologies, the traditional idea of a "mid" is changed. Would we want this raw remap to apply to basically all forward proxy caches? Do we need to differentiate between forward proxies that are _last_ in the hierarchy (just before the origin) and forward proxies that aren't (aka "inner")?

[2020-11-06 17:36] rob05c commented on #5254
Yeah, going forward this would have to be "inner" or "last" just like Header Rewrites.

But, I think we should think very hard about this and similar things, and see if there's a more structured way to do it.

Injecting raw text like this prone to typos, bugs, ops misunderstandings or not noticing it.

We should really see if there's a safer way to accomplish whatever the specific need here is.

[2020-11-06 18:09] traeak commented on #5254
There needs to be a way to configure ATS without requiring a new version of TC to do it.   This particular instance should allow new plugins and plugin options to be exercised.

[2020-11-06 21:56] dpham692 opened #5258 "Should not let user assign Topology to Delivery Services that already linked with an EDGE Server"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

TP let user assign Topology to a DS that currently linked with an EDGE Server.
## Expected behavior:

TP should not allow user to assign Topology to a DS that currently linked with an EDGE Server.
## Minimal reproduction of the problem with instructions:

1. Create Delivery

[2020-11-06 22:00] rob05c opened #5259 "Fix t3c to log when prereqs fail and a file isn't updated."
`t3c` doesn't log anything when prerequisites fail for a file, it just silently doesn't update that file.

It needs to log an error. This is a major issue for production environments, where not updating configs can result in outages, and Operators need to be alerted to fix it ASAP.

## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current beh

[2020-11-06 22:01] rob05c commented on #5259
@jrushford

[2020-11-09 15:54] dmohan001c opened #5263 "Adding Jobs test cases"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Documentation
-  Traffic Ops
-  Traffic Portal
-  CI tests

## Current behavior:

POST: https://tp.nightly.cdnlab.comcast.net/api/3.0/jobs
{
	"deliveryService":		"testds1112",
	"assetUrl": 			"http://abc.test/.*"
	"startTime": 			"2021-10-09 03:52:11",
	"regex": 				"/.*",
	"ttl":           		"12

[2020-11-09 21:18] rawlinp commented on #5258
I believe the existing behavior is actually what we want. We would like to keep ds-server assignments in place for existing DSes but just ignore them if the DS is updated to use a topology. Once assigned to a topology, however, we should prevent assigning EDGE caches to a topology-based DS. Although, we _do_ allow assigning topology-based DSes to servers, in order to allow the cloning of DS assign

[2020-11-09 23:45] #2173 closed

[2020-11-10 16:48] ocket8888 opened #5267 ""cachekey.config" Parameter ConfigFile is undocumented"
`## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Documentation

## Current behavior:
Parameters with the ConfigFile `cachekey.config` are handled specially by configuration generation - but this behavior is undocumented.

## Expected behavior:
Special behavior needs to be documented.

## Minimal reproduction of the problem with instructions:
Check the "Profiles

[2020-11-10 20:37] rawlinp opened #5268 "ORG servers should be excluded from topology-based delivery service required capabilities validation"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Traffic Ops includes ORG servers in its validation of topology-based delivery service required capabilities in the following endpoints:
[code]
The validation is that there must be at least one server in every cachegroup of a topology that has a delivery service's required capabili

[2020-11-11 00:29] #5268 closed

[2020-11-11 17:08] ocket8888 commented on #5218
Should you be able to delete servers assigned to active DSes at all? Maybe that should tell you to first un-link it from the DS.

[2020-11-11 17:21] mitchell852 commented on #5258
Yes, this behavior is fine as @rawlinp said.

[2020-11-11 17:29] #5258 closed

[2020-11-11 17:37] mitchell852 commented on #5263
@dmohan001c - isn't 2021-10-09 03:52:11 + 121m = 2021-10-09 05:53:11?  not 2021-10-09 06:52:11 as you mentioned?

[2020-11-11 17:37] rawlinp commented on #5218
🤔  currently we `ON DELETE CASCADE` that, which is what I think we want. I don't think we want to overburden the common case which would be deleting servers that are _not_ the last server assigned to active DSes.

[2020-11-11 17:40] ocket8888 commented on #5263
TTL is in hours only. Currently, he's saying 2021-10-09 03:52:11 + 121m = 2021-10-09 05:53:11 gets rounded down to 2021-10-09 05:52:11 but the docs say it should be rounding up, which would result in 2021-10-09 06:52:11

[2020-11-11 17:44] mitchell852 commented on #5263
I see. ORT can only handle TTL in hours, therefore it is converted to hours. Did not know that....

[2020-11-11 17:45] rob05c commented on #5218
Agreed, it'd be a big Ops pain to have to unassign every time.

But at the same time, accidentally assigning all but 1 server is going to kill most DSes, and likely that one server too. But it's difficult to automatically know exactly how many servers is reasonable.

I feel like the ideal here would be a warning message in TP, "This server is currently assigned to DS-X which has N servers assigned

[2020-11-11 18:02] rawlinp commented on #5218
I have no faith that alerts alone (even in TP when they show up), will prevent bad things from happening. If operators are using the API, then the alerts will most likely be ignored altogether. By preventing at least the _last_ server from being unassigned from an active DS, the DS at least has a fighting chance of staying alive, but we can't really make assumptions about how many servers a DS mig

[2020-11-11 18:36] ocket8888 commented on #5218
I like to think of these things not in terms of API endpoints and alerts and restrictions - those are just implementation details - but in terms of the data model. "An Active Delivery Service cannot be made un-serviceable" seems reasonable, and so I agree with Rawlin. We could _also_ issue warnings for low-server-count DSes, but the point here is to restrict the supported data sets to disallow mor

[2020-11-11 19:11] rawlinp commented on #5218
I agree with that, but certain DS types can be active without having servers/topology assigned. Maybe we should revisit that with the "DS active states" overhaul.

[2020-11-12 18:23] zrhoffman opened #5274 "Basho repo returns HTTP status 402 Payment Required"
## I'm submitting a ...

-  bug report
-  other

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Vault

## Current behavior:

Traffic Vault fails to build. If you visit the Basho repo (https://packagecloud.io/basho/riak/ubuntu/dists/trusty/main/source/Sources ), you get HTTP status code 402 (Payment Required).

## Expected behavior:

Traffic Vault should build successfully

[2020-11-12 19:17] #5274 closed

[2020-11-12 19:22] dpham692 opened #5277 "Add documentation for PUT /3.0/service_categories/{name}"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Documentation

## Current behavior:

Right now, there is no documentation for PUT request for service_categories API.
## New behavior:

Add documentation for PUT request for service_categories API.
## Minimal reproduction of the problem with instructions:

## An

[2020-11-12 22:24] mitchell852 opened #5279 "ORT/atstccfg: regex_revalidate.config should never have 1+ rule for the same pattern"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops ORT

## Current behavior:
TO/TP allows users to create invalidation requests (aka jobs) with a TTL for an asset. That request will be added to the regex_revalidate.config file created by ORT/atstccfg and looks like such:

[code]

^^ Imagine that rule w

[2020-11-13 13:34] traeak commented on #5279
I have a new version of regex revalidate which will implement some of the features to make this possible.  I'll write up an issue on the ATS github and propose some solution which allows currently loaded rules to be changed which will result in the revalidation for those rules being reset.

[2020-11-13 15:30] ocket8888 commented on #5279
we can check for asset URLs that are exactly the same, but it's literally impossible to prevent overlapping rules from existing, unless we're going to disallow regular expressions.

[2020-11-13 15:47] mitchell852 commented on #5279
yes, you are right @ocket8888 - overlapping rules will always be possible due to how regex works but "duplicate" rules (exact same regex) are the problematic ones.

[2020-11-13 16:15] traeak commented on #5279
To solve this reissuing a rule (which should result in a changed expiration time) will cause the revalidation activation time to reset.  This will deal with issuing the same regex again.  revalidations aren't that expensive inside ATS so it shouldn't be much of a worry.

[2020-11-13 20:19] #5191 closed

[2020-11-16 03:46] dmohan001c commented on #5263
whatever @ocket8888  told is correct

[2020-11-17 01:05] ocket8888 opened #5284 "Un-informative error message when creating server with non-existent Profile"
## I'm submitting a ...
-  bug report
-  other

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Trying to create a server with a `profileId` that doesn't belong to any existing Profile gives the error message:

## Expected behavior:
Should say e.g.

## Minimal reproduction of the problem with instructions:
Create a server with a non-existent `profileId`.

[2020-11-17 01:21] ocket8888 opened #5285 "Uninformative error message creating region without division"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When creating a new region without specifying a division, the API reports:

## Expected behavior:
Should say e.g. _"'division' is required".

## Minimal reproduction of the problem with instructions:
Try to create a region without specifying a division, e.g.

[code]

[2020-11-17 01:24] ocket8888 opened #5286 "Server update Topology safeties can be bypassed at lower API versions"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When modifying a server's Cache Group assignment, the API only checks if this invalidates any Topologies if the client made the request at API version 3.

## Expected behavior:
This restriction should be in place unilaterally across API versions.

## Minimal reproduction of the pr

[2020-11-17 01:33] ocket8888 opened #5287 "Incorrect error message creating Cache Group with no typeId"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Creating a Cache Group without specifying its Type (via the `typeId` property) gives the error message:

## Expected behavior:
Should name the actual missing property: `typeId`.

## Minimal reproduction of the problem with instructions:
Create a Cache Group without specifying it's

[2020-11-17 01:40] ocket8888 opened #5288 "Edge case in checking server interface MTU"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
If you create a server having an interface with an MTU of exactly 1280, you get back a 500 Internal Server Error response. This is because the validation in the API checks for MTU >= 1280, but the database check is strictly MTU > 1280 (or NULL).

## Expected behavior:
The API and

[2020-11-17 01:49] ocket8888 opened #5289 "Servers PUT handler returns API v2 servers when requested at v1"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When modifying a server by requesting API version 1, the server will respond (on success) with an APIv2 server structure.

## Expected behavior:
The API should respond to APIv1 requests with APIv1 structures only.

## Minimal reproduction of the problem with instructions:
Modify a

[2020-11-17 01:51] ocket8888 commented on #5289
This bug manifests because the PUT handler is checking the API _minor_ version instead of its _major_ version. As a result, it does not occur when requesting at API version 1.1

[2020-11-17 15:55] saoyag001 opened #5290 "Crete mailing address in Server Field tab and Hours of Operation"
I'm submitting a ...
-  new feature / enhancement request

-  Traffic Ops
-  Traffic Portal

Requesting to add optional field Mailing address to include
Address
City
state
Zip
Contact

Also requesting hours of operation to make it easier to schedule vendors on site.

## Current behavior:
currently usign notes which doesnt work well for automation

## New behavior:
with alternate mailing addresses

[2020-11-17 15:57] mitchell852 commented on #5290
What are we talking about? Physical location? Server? somethng else?

[2020-11-17 16:04] saoyag001 commented on #5290
PHysical location is where the server resides, however this may not be in line with the actual mailing address. So would prefer mailing address on the actual server tab.

[2020-11-17 16:07] mitchell852 commented on #5290
Ideally imo we should probably create an address table and have FK references from the phys_location and servers tables to an address...

[2020-11-17 16:14] ocket8888 opened #5291 "Log Spam from Riak services in Traffic Ops"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Traffic Ops will sometimes emit the error:

[code]

when encountering an error in Riak-related endpoint logic. It's probably calling `HandleErr` without returning.

## Expected behavior:
When a fatal error occurs, handling should end and no further attempts should be made to roll

[2020-11-17 16:19] rob05c commented on #5291
If it is, you should see this in the logs:
https://github.com/apache/trafficcontrol/blob/master/traffic_ops/traffic_ops_golang/api/api.go#L134

FWIW I've seen that `transaction has already been committed or rolled back` in the past, after strange query errors. Certain bad queries -- which didn't commit or rollback -- seem to cause all future queries on the same transaction. I don't fully understan

[2020-11-17 16:21] mitchell852 commented on #2193
this use case can be satisfied using the newly released server capabilities functionality @PeterRyder that introduced in TC 4.0. Closing. Please reopen if you disagree.

[2020-11-17 16:21] #2193 closed

[2020-11-17 16:34] mitchell852 commented on #935
We can potentially extend tenancy to profiles of type=DS profiles but extending it to all profiles/parameters goes against the design of TC where servers/profiles/parameters are intended to be used across the entire system. thoughts @nir-sopher ?

[2020-11-17 16:41] ocket8888 commented on #2471
We have checks now that run on PRs to ensure that migrations

* Are properly named (_date_-_name_.sql)
* Have the right amount of date precision
* Do not use duplicate dates

but we don't have a check for this yet.

[2020-11-17 16:48] mitchell852 commented on #1669
We can evaluate extending tenancy beyond users and delivery services when we reassess how we want self-service to work.

[2020-11-17 16:56] zrhoffman commented on #1476
I don't think we should build any features off of the assumption that we can make DNS records secret or difficult to guess.

@alficles if you see merit in this issue, comment and we can re-open.

[2020-11-17 16:56] #1476 closed

[2020-11-17 16:59] ocket8888 commented on #2593
I think this is no longer an issue; firstly because all supported version of ATC use tenancy, but also because the upgrade path to a version _with_ tenancy included running `init_tenancy.sh` - which should eliminate any null values by replacing them with the ID of an "unassigned" Tenant.

If that's wrong, please re-open.

[2020-11-17 16:59] #2593 closed

[2020-11-17 17:04] mitchell852 commented on #1072
this potentially is implemented differently in Go than it was in Perl. will need to research.

[2020-11-17 17:08] mitchell852 commented on #2649
I think TP should not be involved in determining if the TODB is running but this does make sense imo:

[2020-11-17 17:11] mitchell852 commented on #2685
agree. this needs to be removed if it's still lying around. tenancy has not been optional for quite some time.

[2020-11-17 17:13] mitchell852 commented on #2774
@rawlinp any thoughts on this?

[2020-11-17 17:15] mitchell852 commented on #2884
service categories feature was added by @jehunte in TC 5.0. i believe this achieves what you were looking for @dneuman64 . closing. please reopen if you disagree.

[2020-11-17 17:15] #2884 closed

[2020-11-17 17:27] ocket8888 commented on #5290
I don't think I'm understanding this right. If the mailing address of your physical location isn't the right mailing address, then why not just change it?

[2020-11-17 17:31] rob05c commented on #2649
Hm, I think I might've changed my mind on this.

It's really handy to have TO _not_ require the DB to start, and only when you actually make a request.

It makes debugging and developing much easier, not having to start the DB first and guarantee it's running.

But I think it also makes the TO service more resilient. It means you don't have a required startup order, TO itself can run and function

[2020-11-17 17:33] rob05c commented on #2649
Incidentally, the same applies to TP: Traffic Portal is more robust and resilient as a service, if it doesn't require TO, but can run and function as a service, and TO not existing only affects individual requests, not the service itself. (I believe all that's true today.)

[2020-11-17 17:38] rawlinp commented on #2774
I imagine this would still be nice to have.

[2020-11-17 18:12] rawlinp commented on #2649
I agree with Rob's most recent comments. It's better to log an error on startup if the DB can't be reached and allow TO to continue to run.

[2020-11-17 19:48] mitchell852 commented on #2649
yep, that's true re: TP. it can run w/o a TO but it won't be very useable...

[2020-11-17 19:49] mitchell852 commented on #5290
i guess the mailing address for the server can be different than the mailing address for the server's physical location. is that right @saoyag001

[2020-11-17 19:51] saoyag001 commented on #5290
yes. mailing addresses are usually main locations, while serves themselves may reside up to 50 miles away.

[2020-11-17 20:20] ocket8888 commented on #5290
So there are multiple server locations that are different but can be reached by post at a single, other address? Would contact information on a Region work for that?

[2020-11-17 21:14] mitchell852 commented on #5290
Isn't that not granular enough @ocket8888 ?

- Division has many regions
- Region has many phys locations
- phys location has many servers

what i'm hearing is that a server can have an address different that the phys location that it belongs too.

[2020-11-17 21:47] saoyag001 commented on #5290
region is greater than physical location. region can have 30 physical locations and 10 of them can have one mailing address. An address thats not associated with any physical locations.

[2020-11-17 22:04] mitchell852 opened #5294 "Column filter does not persist when multiple columns share a valueFormatter"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Navigate to https://tp.domain.tld/#!/servers and set a filter on the Reval Pending column like such:

![image](https://user-images.githubusercontent.com/251272/99455788-90639800-28e5-11eb-91c3-4673d6afa734.png)

check local storage and you should see the following entry:

[code

[2020-11-17 22:36] mitchell852 opened #5295 "TP: Invalid method call to clear ag-grid table filters"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
https://tp.domain.tld/#!/types/253/servers

![image](https://user-images.githubusercontent.com/251272/99458878-7d06fb80-28ea-11eb-9d3d-3c3aedd30b0a.png)

## Expected behavior:
Should be `Clear Table Filters` and call the `clearTableFilters()` function.

## Minimal reproduction

[2020-11-17 23:38] srijeet0406 opened #5296 "Cannot update any regex in Traffic Ops/ Traffic Portal"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Ops

## Current behavior:

If you have a regex for a delivery service, you cannot update it.
## Expected behavior:

All regexes should be updateable, with the exception of the following:
1.) If the regex in question has set number `0` and type `HOST_REGEXP`
2.) If there already is another

[2020-11-18 00:08] ocket8888 commented on #5295
I don't think you need to re-name the button to do that. In fact, "Clear Table Filters" sounds like it'll also clear the page size and "Quick search..." filters, not just the filters on the columns. Which I don't think it does.

[2020-11-18 01:38] rob05c opened #5301 "Remove lib/go-atscfg from traffic_ops_golang"
Traffic Ops used to use `lib/go-atscfg` to generate config. Now that TO no longer generates config, it'd be nice to remove that dependency. It recently unnecessarily broke `traffic_ops_golang` when `lib/go-atscfg` broke. Not a huge issue, but a minor tech debt improvement, to remove one not-really-necessary dependency.

It looks like `atscfg` is only used in a single place, for a very small functi

[2020-11-18 06:14] nir-sopher commented on #935
Hi Jeremy,
This is indeed a delicate issue.
The final target I had in mind is that everything has tenancy. There are
tenants that deals with DSes and Tenants that deal with infra. For now the
infra does not need tenancy.
I would try to have 2 different type of profiles/parameters: ds and infra.
DS profiles/parameters tenancy is enforced while infra profiles/parameters
tenancy isn't.

On Tue, Nov 1

[2020-11-18 13:47] #5171 closed

[2020-11-18 13:47] #5286 closed

[2020-11-18 16:21] mitchell852 commented on #5296
so basically if you are trying to update:

[code]
it's failing because it thinks something else is already in position 1? which is not true. nothing else is in postion 1 except for my.regex.com?

[2020-11-18 16:24] mitchell852 commented on #5295
yeah, `Clear Table Filters` actually does clear the quick search as well..hence the reason i renamed it....but does not reset the page size (maybe it should. not sure.)

[2020-11-18 16:38] ocket8888 commented on #5295
Idk I'd consider the pagination filtering for the first N results. But even if it only clears the quick search, I think that's a good rename :+1:

[2020-11-18 16:47] srijeet0406 commented on #5296
Yes, thats correct. So basically all updates are disallowed currently, which is obviously wrong.

[2020-11-18 18:19] mitchell852 commented on #5296
fyi as a workaround, the user can simply delete/create to update :)

[2020-11-18 22:15] shamrickus commented on #5294
I will take a look at this

[2020-11-19 01:39] zrhoffman opened #5303 "Need to validate DS topology assignment (cachegroups must contain at least 1 server in the DS CDN)"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops

## New behavior:

As a CDN operator, I would like TO to validate my chosen topology for my delivery service. My chosen topology should have at least one server in my delivery service's CDN per cachegroup in the topology, so that the topology provides a realistic view of my del

[2020-11-19 14:15] hbeatty opened #5305 "Add "active=true" query param to deliveryservices API"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

Add the ability to query for only active delivery services.

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:

Can't query for only active DSs.

## New behavior:

Can query for only active DSs :smile:

[2020-11-19 15:49] rawlinp opened #5306 "TM repeatedly logging events for ADMIN_DOWN caches"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Monitor

## Current behavior:
If a cache is `ADMIN_DOWN`, it appears that TM will log an event for the cache every single time it is polled:
[code]

## Expected behavior:
Before 5.0.x, TM would not repeatedly log events for `ADMIN_DOWN` caches every time they were polled. I believe TM should only be loggin

[2020-11-19 17:31] shamrickus commented on #5306
This is because previously the message would only be logged if the new status was different than the previous. It was changed to always log if it's _not_ available.
5.0
https://github.com/apache/trafficcontrol/blob/6635c686c5694b633291a4a2f00c923031fd6aa1/traffic_monitor/health/cache.go#L325
4.1
https://github.com/apache/trafficcontrol/blob/817a702a9de6169c86e30cd70304af380a8e9dc6/traffic_monitor/

[2020-11-19 18:23] rawlinp commented on #5306
Ah, I don't think we want to always log if a cache is not available -- only when it changes states.

[2020-11-19 20:37] shamrickus opened #5310 "TM reporting "errors" when Cache is unreachable"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Monitor

## Current behavior:
If a Cache is unreachable from TM and `{tmHost}/publish/CacheStats` is called, "errors" will be spit out in the TM logs

[code]

## Expected behavior:
This error is actually a warning, furthermore it should not be logging in the case that the server is inaccessible as that i

[2020-11-19 20:46] shamrickus opened #5311 "TO: cdns/capacity incorrect format on log messages when TM errors"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:
Currently, TO will query `{tmHost}/publish/CacheStatsNew` (added in 5.0) and then `{tmHost}/publish/CacheStats` if that fails.

Both of these log errors that are formatted bad:
`getCapacity failed to get CacheStatsNew from cdn '{cdn}' monitor '{monitor}', trying CacheStats{err}`

[2020-11-19 20:58] #4438 closed

[2020-11-19 21:11] rawlinp commented on #5311
Additionally, it would be helpful for TO to also include the `HttpProxy` value in the error message (if one is being used) and the full request URL that failed.

[2020-11-19 21:22] #5303 closed

[2020-11-19 22:26] #5306 closed

[2020-11-20 15:38] saoyag001 opened #5316 "When adding multiple interfaces on a server, a router host and router description shoudl also be created per interface"
-  improvement request (usability, performance, tech debt, etc.)

-  Traffic Ops
-  Traffic Portal

## Current behavior:
When creating a second, third etc interface in to 5 only a single router hostname and router port exists.

## New behavior:
adding more interfaces require more router(s) port(s) TP should reflect this

## Minimal reproduction of the problem with instructions:

## Anything else:

[2020-11-20 15:38] rawlinp commented on #4412
Fixed by https://github.com/apache/trafficcontrol/pull/4638.

[2020-11-20 15:38] #4412 closed

[2020-11-20 15:42] saoyag001 opened #5317 "TO pre 5.0 server list, network ip and ilo ip were clickable without going into server details."
-  bug report

-  Traffic Portal

## Current behavior:
in TP clicking a link in server list page(ilo/network IP) opens a new window with ssh:// and brings you to that server details page.
## Expected behavior:
in TP clicking a link in server list page (ilo/network IP) opens a new window with ssh:// and existing window remains on server list page.
## Minimal reproduction of the problem with instruc

[2020-11-20 16:41] mitchell852 commented on #5317
Here are the "ip addresses" associated with a server object.

[code]
What is the desired behavior when clicking each?

[2020-11-20 16:59] rgresino commented on #5317
ILOs tend to be Graphical although they do have CLIs in some cases.  As an SRE, I'd prefer to be able to set the desired behavior.
When I click on the ILO IP, I'd like to be able to set a static https://staticUserName@[ILO_IP_Address] or for other users that might wish ssh://$USERNAME@[ILO_IP_Address]

I think the use case is similar for IPv6 Address and IPv4 Address in that I'd like to be able to

[2020-11-20 17:09] mitchell852 opened #5318 "Rename TP server columns for IPv4 address fields"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
A server's IPv4-related addresses are referred to as:

[code]

They might have been named this way before IPv6 was commonly used.

## New behavior:
Rename them to:

[code]

so it is more clear what they represent.

## Minimal r

[2020-11-20 19:06] #5301 closed

[2020-11-20 23:11] zrhoffman opened #5319 "RPMs only target CentOS 7"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Grove
-  Traffic Monitor
-  Traffic Ops
-  Traffic Ops ORT
-  Traffic Portal
-  Traffic Router
-  Traffic Stats

## Current behavior:

Right now, all of our RPMs are targeted at CentOS 7, whose *Full Updates* support [ends in Q4 2020](https://wiki.centos.org/About/Product).

## New behavio

[2020-11-21 06:06] #5289 closed

[2020-11-23 17:19] mitchell852 opened #5323 "TODB/TO API: Remove log.level database column??"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops
-  Traffic Portal

## Current behavior:
When a Traffic Ops change (PUT, POST, DELETE) is made thru the API (the only sanctioned way to make TO changes), a change/audit log entry is written to the log table in _most_ cases. That change log entry includ

[2020-11-23 18:39] zrhoffman opened #5324 "Traffic Portal HTTP delivery service UI tests fail"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

When running the Traffic Portal UI tests, there are 5 failures:
- should update the HTTP delivery service
- should add a required server capability to the HTTP delivery service
- should add a required Static DNS entry to the HTTP delivery service
- should navigate back to th

[2020-11-23 22:55] MylesBock commented on #4954
I think I have something that could end up solving this, may I be assigned this issue?

[2020-11-24 16:18] mitchell852 opened #5326 "TP: Provide the ability to "clone from" an existing DS when creating a new DS"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Currently you can Clone a delivery service...but you can't "clone from" when creating a new delivery service. This would be handy if you are sitting on a new delivery service form and you have no idea where to start.

## New be

[2020-11-24 17:26] MylesBock commented on #5317
I'll take a crack at this, mostly to redeem myself to @saoyag001 for those RLR DS's about this time last year :joy_cat:

May I be assigned this issue?

[2020-11-24 17:30] MylesBock commented on #5317
Thanks!

[2020-11-24 19:59] rob05c commented on #5323
It seems like we have a desire to not see certain changes in the UI.
+1 on using this field to filter.

[2020-11-24 21:11] mitchell852 commented on #5324
hmm. i'm getting:

[code]

[2020-11-24 21:49] hbeatty opened #5331 "Let's Encrypt certs have a blank line in the chain"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:

When using Let's Encrypt there is a blank line inserted in the certificate chain. This causes TR to not be able to use the certificate.

## Expected behavior:

There should not be a blank line in the cert chain

## Minimal reproduction of the problem with instructions:

Create a

[2020-11-24 22:57] #5305 closed

[2020-11-24 23:09] MylesBock commented on #5317
@rgresino I will break out that desired behavior into a separate issue

[2020-11-25 02:06] mitchell852 opened #5333 "Suppress DS consistent hash query params change log entry if nothing changed"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
Every time a DS is created or updated, the following change log entry is created when no consistent hash query params are created.

[code]

Doesn't make much sense to me.

## New behavior:
Don't do that if nothing changed with reg

[2020-11-25 02:47] rawlinp commented on #5333
I agree, but even if the CHQPs change, do we care enough to give it its own changelog entry? Or is the single DS entry enough?

Also, we should probably suppress the `DS: demo, ID: 442, ACTION: Updated primary origin: demo` changelog entry if the `orgServerFqdn` wasn't changed.

[2020-11-25 18:18] srijeet0406 commented on #2663
No internal server error in `api/3.0`

[2020-11-25 18:27] #2663 closed

[2020-11-25 18:37] mitchell852 commented on #5333
Yes, I think the DS entry is sufficient.

[2020-11-25 18:38] mitchell852 commented on #5333
Agree. Want to create a separate issue for that @rawlinp ?

[2020-11-25 20:20] #5285 closed

[2020-11-25 21:24] rawlinp opened #5335 "Suppress "Updated primary origin" changelog entry if DS orgServerFqdn is unchanged"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When updating a delivery service, a changelog entry is created that says "DS: foo, ID: 442, ACTION: Updated primary origin: foo" even if the DS's `orgServerFqdn` wasn't changed.

## New behavior:
The aforementioned changelog entry

[2020-11-25 21:25] rawlinp commented on #5333
Done - https://github.com/apache/trafficcontrol/issues/5335.

[2020-11-30 18:55] #5310 closed

[2020-11-30 22:06] ezelkow1 opened #5336 "Traffic Monitor configuration via ATC parameters"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Monitor

## Current behavior:

Currently there is no way to modify the traffic monitor config file with ATC. You can create a whole flat file but being able to use parameters would be much more beneficial to be able to tweak various parameters like polli

[2020-11-30 22:21] ocket8888 commented on #5336
Currently, polling timing and health formats are determined on a per-monitored-server basis - by ATC Parameters - not at the scope of the monitor itself. I think.

[2020-11-30 22:26] rob05c commented on #5336
They are. About half the Monitor configs are in Parameters, and about half are in the config file.

+1 on moving them all into TO, so they can be dynamically changed from TO/TP rather than requiring a static file change and reload.

Ideally the only local Monitor config would be the TO URL+user+pass.

[2020-11-30 23:04] ezelkow1 commented on #5336
Yea as of now its haphazard as to what gets configured where, plus it references rascal.txt, so its not as obvious what is going on. Just having a param->traffic_monitor.conf in ATC where it spits own the known format of that file would have it follow along with other configs

[2020-12-01 16:22] mitchell852 commented on #920
TO UI was deprecated long ago...closing.

[2020-12-01 16:22] #920 closed

[2020-12-01 16:24] mitchell852 commented on #2923
@jhg03a - is this something that is still required with LE functionality now available?

[2020-12-01 16:27] mitchell852 commented on #2910
this is potentially blocked by API 1.x removal but once removed please kill this unused table!

[2020-12-01 16:33] mitchell852 commented on #2753
ATS never communicates back to TO when an invalidation request is exercised. The level of effort required to do this might be substantial.

[2020-12-01 16:37] mitchell852 commented on #1546
i _think_ the ds.multi_site_origin (boolean) is the only mso related field used currently. ds. multi_site_origin_algorithm has been completely abandoned and should be removed but additional research may be required before doing so.

[2020-12-01 16:39] jhg03a commented on #2923
I believe so since LE doesn't work as well with internal naming schemes.  This basically allows you to tie the TO self-signed certs to an internal CA root cert instead.

[2020-12-01 16:40] mitchell852 commented on #1925
any/all failing tests need to be fixed. no story required.

[2020-12-01 16:40] #1925 closed

[2020-12-01 16:41] mitchell852 commented on #1329
#2513 should have closed this.

[2020-12-01 16:41] #1329 closed

[2020-12-01 16:45] mitchell852 commented on #1617
this feels like a snapshot diff but for caches. any thoughts on this @rob05c outside of simply running atstccfg locally on a cache to see the pending changes.

[2020-12-01 16:50] mitchell852 commented on #2285
may need to research if this is still applicable in API 2.x+

[2020-12-01 16:53] rob05c commented on #1617
Yeah, I think this would be a valuable feature. But it's a good amount of work. We'd need work on both the ORT side to get the diff and POST it to TO, and endpoint(s) on TO to receive that.

I'd +1 that. But that work should be coordinated with fixing the Snapshot-Queue issue a.k.a. "killing the chicken." Because fixing Snapshot-Queue also involves having ORT POST the date/snapshot that it applied

[2020-12-01 17:01] mitchell852 commented on #2620
There appears to be a workaround for this so I've added the `minor` label. The workaround is to just make sure the CDN has DNSSEC keys right @rawlinp ?

[2020-12-01 17:08] mitchell852 commented on #2826
I'm hoping at this point there are no "old" export profile formats laying around. :) What do you think @rob05c ? can we close this?

[2020-12-01 17:12] mitchell852 commented on #2525
I'm not sure it's a good idea to expose the database through the UI/API for security reasons. We'd need more discussion around this before implementing.

[2020-12-01 17:24] ocket8888 commented on #2631
This may not be a good idea. Current practices are to never expose underlying service state via API responses - from the [API Guidelines](https://traffic-control-cdn.readthedocs.io/en/latest/development/api_guidelines.html):

If you feel this is not a good practice, please bring it up to the mailing list.

[2020-12-01 17:24] #2631 closed

[2020-12-01 17:28] ocket8888 commented on #2087
HTTPS is fairly ubiquitous in the modern world, creating certificates is fairly simple, and CDN-in-a-Box will start up a Traffic Ops instance for you without needing any manual key generation steps. Which is to say, I can't really think of a good reason not to use secure communications except for testing, and testing with HTTPS is already so easy I'm not sure we need the capability to run Traffic

[2020-12-01 17:29] rawlinp commented on #2620
I wouldn't really call it a workaround because there's no information given to the user to indicate that the issues is the CDN's DNSSEC keys, but I would agree it's minor.

[2020-12-01 17:30] mitchell852 commented on #5263
I guess the current workaround is to define TTL in hours, not minutes and not hours and minutes....

[2020-12-01 17:31] mitchell852 commented on #5125
seems serious. @rob05c want to apply a severity label?

[2020-12-01 17:32] mitchell852 commented on #5106
what application requires trailing spaces @smalenfant ?

[2020-12-01 17:37] mitchell852 commented on #2620
@rawlinp - it's a super secret workaround :)

[2020-12-01 17:44] ocket8888 commented on #2285
It does look as though there's no situation in which Traffic Ops would return a 404 from that endpoint; @ajschmidt can you confirm if this is still an issue?

[2020-12-01 17:46] ocket8888 commented on #2273
I believe 1 is no longer relevant, and I think there's a handler for tenants that takes in multiple tenant keys to check for access, which would cover 2, right?

[2020-12-01 18:01] rawlinp commented on #2273
1 is no longer relevant, but 2 still is. I don't think you understood 2 correctly -- it's not about having a handler that checks multiple tenant keys. It's about keeping all the tenancy checks together in `IsTenantAuthorized() # the Tenantable interface` rather than having special tenant checks in each of the create, read, update, and delete methods.

[2020-12-01 18:50] mitchell852 opened #5339 "Add/update SSL keys on a delivery service does not create change log entry"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
It appears that the following route does not create a change log entry:

[code]

## New behavior:
Exercise the following API route successfully:

[code]
and ensure an message like this is created:

[code]

You should see the new e

[2020-12-01 18:51] jhg03a commented on #5336
I'd rather see it go the other way personally where we take more responsibility away from TO and move how application configuration is set outside the scope of the project.  There are many other tools that know how to do that.

[2020-12-01 18:51] ocket8888 commented on #2273
Oh, I see. I was confused because we have `isTenantAuthorized` and `IsTenantAuthorized` which are not the same thing. That makes sense

[2020-12-01 18:59] ocket8888 commented on #5336
I tend to be hesitant to add any more special nuance to unvalidated text parameters.

[2020-12-01 20:27] mitchell852 opened #5340 "TP: Add the ability to resend a user registration from the user screen"
## I'm submitting a ...
-  improvement request

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Currently, you can send a user registration in TP at https://tp.domain.tld/#!/users/register. This requires an email, role and tenant for the new user. The result is a new user is created with:

- user.new_user = true.
- user.username = registration_[random_hash]
- use

[2020-12-01 21:10] mitchell852 commented on #2285
i'll close. @ajschmidt can reopen if necessary. thanks for checking @ocket8888

[2020-12-01 21:10] #2285 closed

[2020-12-01 21:26] rob05c commented on #5336
Agree - that's why I said "TO/TP" instead of "Parameters." +1 on real columns. But Params would still be better than config IMO.

[2020-12-01 21:29] rob05c commented on #5336
@jhg03a The issue is, we want to be able to change these settings dynamically, without requiring a restart/reload, and without an Ops person manually doing something.

Right now, TO/TP is how we do that with downstream apps - caches, monitors, routers, etc.

I'm not opposed to moving toward a TO-agnostic system. But TO is how we do it today, and we need the ability to do it. I'm not sure there's a

[2020-12-01 21:38] jhg03a commented on #5336
I can buy that compromise. If it has its own set of constraints and ui elements, that's much better than unstructured magic strings via profile+parameters.

[2020-12-01 22:05] mitchell852 opened #5341 "PUT /api/3.0/deliveryservices/{id} with changed cdn returns 403 forbidden"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops
-  Traffic Portal

## Current behavior:
Changing the CDN for a delivery service returns a 403 with

[code]

403s are for operations that fail role or tenancy check.

## New behavior:
This needs to be a 400 Bad Request instead with a message like:

[code]

## Minimal reproduction of the problem with ins

[2020-12-01 22:08] mitchell852 commented on #5341
@shamrickus or @srijeet0406 - i cant remember if one of you did the api work on this or not...

[2020-12-01 22:09] #5319 closed

[2020-12-01 22:37] srijeet0406 commented on #5341
I think that might have been Steve. Its in the `getOlddetails` function I believe.

[2020-12-02 22:24] mitchell852 commented on #5341
oh, ok, this was changed in #5083 - can you make it return a 400 bad request instead (with an error message that explains why they can't do that) @shamrickus when ds.cdn or ds.routingName change is attempted?

[2020-12-03 00:42] srijeet0406 commented on #5244
Talked to @dsouza93 and @rob05c .
Dylan said that the check to see if the DS specific request header size is > the global max value is not needed.
Rob mentioned that the ORT effort should be its own separate issue/ ticket. So the PR https://github.com/apache/trafficcontrol/pull/5345 just deals with adding an extra field to the DS structure in TO/TP.

[2020-12-03 16:26] sebbASF opened #5346 "Downloads must use mirror system"
The download page
https://trafficcontrol.apache.org/releases/
currently links to https://downloads.apache.org/trafficcontrol/... for the release artifacts.
Releases must use the mirror system:
https://infra.apache.org/release-download-pages.html#links

[2020-12-03 17:36] rawlinp commented on #5346
@sebbASF the source links on the website have been updated. Can you verify they're good now?

[2020-12-03 22:38] sebbASF commented on #5346
Thanks for the very prompt attention to this.
All looks good now

[2020-12-03 22:38] #5346 closed

[2020-12-07 15:22] zrhoffman opened #5355 "pkg: Invalid interpolation format for "build" option"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Build system

## Current behavior:

If using `docker-compose` version 1.26.2 or lower, attempting to build any ATC component yields

[code]

## Expected behavior:

Components should build successfully.

## Minimal reproduction of the problem with instructions:

* Install `docker-compose` version 1.26.2 or older

[2020-12-07 19:19] mitchell852 opened #5359 "Flexibile topologies - provide ability to mark a topology as active/inactive"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  Traffic Ops
-  Traffic Portal
-  Traffic Router

## Current behavior:
No way to mark a topology as active/inactive.

## New behavior:
Provide the ability to mark a topology as active/inactive as the reality is that creating a topology could take some time and dur

[2020-12-07 19:49] mitchell852 opened #5360 "Flexible topologies - provide the ability to clone a topology in TP"
## I'm submitting a ...
-  new feature / enhancement request

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
If you want to create a new topology based on an existing one, you can do that via the API but you can't do it in TP.

## New behavior:
In TP, allow the user to clone a topology so they can create new topologies based on existing ones.

## Anything else:

[2020-12-07 19:56] mitchell852 opened #5361 "Provide the ability to change the name of a topology"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Ops
-  Traffic Portal

## Current behavior:
Currently you cannot change the name of a topology

## New behavior:
Allow the user to change the name of a topology thru the API and cascade that change to all appropriate areas. I.e. ds.toplogy

## Minimal repr

[2020-12-07 20:13] rawlinp commented on #5359
We should probably leave topologies that aren't assigned to any delivery service out of the CRConfig. It doesn't really hurt to have them in there, but if TR isn't using it yet, what's the point of having it in there?

[2020-12-07 20:21] zrhoffman commented on #5359
Would we ever want to mark a topology as inactive after _after_ you are done building it? If not, I'm not sure that a topology is the right place for that feature.

If the only issue is that the topology is a WIP, why not build it out in a different environment? Topologies use cachegroup names, so IDs should never be an issue and it should be easy to copy tops between environments that use the sam

[2020-12-07 20:25] mitchell852 commented on #5359
Not sure we can dictate the process for creating topologies. i.e. create in enviro A first and then copy to enviro B. And yeah, this active flag is really just a way to mark them as WIP. maybe there's a better solution...

[2020-12-07 20:27] zrhoffman commented on #5359
That's true, it's not so convenient to make in environment A, then copy to environment B. Maybe what we really need is an *Export topology* button to show a topology's JSON and an *Import topology* button to parse a topology in TP from JSON.

[2020-12-07 20:35] mitchell852 commented on #5359
I think that's a pretty nifty feature. want to create an issue for that? but, not sure it solves the "i want to create a topology in enviro A but i don't want anyone to use it in enviro A _until_ i mark it as ready" or maybe i'm overthinking this. maybe it's just making sure your Ops team is on the same page as the group creating the topology and making sure it is communicated when the topology is

[2020-12-07 21:08] rawlinp commented on #5359
I'm kind of on the fence. On one hand, I know how much pain/confusion the `active` field on DSes has caused. On the other, I do like the safety of preventing operators from assigning DSes to topologies that aren't ready yet. Safeties that don't require communication are the best kind. Then again, if you knowingly assign a topology named "DO-NOT-USE" to a delivery service, you have been fairly warn

[2020-12-07 21:11] mitchell852 commented on #5359
right. i'm starting to think implementing #5361 accomplishes the ability to have WIP topologies and maybe we can close this issue.

[2020-12-07 22:08] #5294 closed

[2020-12-08 16:32] ocket8888 commented on #1316
@jhg03a would this be safe to do, or do operators depend on that information?

[2020-12-08 16:33] mitchell852 commented on #1106
@jhg03a - any thoughts on this one?

[2020-12-08 16:40] ocket8888 commented on #982
According to [the route's documentation](https://traffic-control-cdn.readthedocs.io/en/latest/api/v3/parameters.html#request-structure) this has been done. Please re-open if there's a bug that prevents this functionality from working as documented.

[2020-12-08 16:40] #982 closed

[2020-12-08 16:40] mitchell852 commented on #1079
this should be simple to implement...

[2020-12-08 16:42] mitchell852 commented on #1125
cache url expression was deprecated with ATS 6.x and will be removed altogether from ATC with PR #4644

[2020-12-08 16:42] #1125 closed

[2020-12-08 16:48] mitchell852 commented on #1080
if you need to override the behavior of this endpoint, you can simply create a Go API plugin.

[2020-12-08 16:48] #1080 closed

[2020-12-08 16:49] #1149 closed

[2020-12-08 16:51] mitchell852 commented on #1626
@rob05c is this still applicable?

[2020-12-08 16:54] mitchell852 commented on #1665
i'm going to do a check to see if peer caches are queued in this scenario or not. I don't believe they are.

[2020-12-08 16:56] jhg03a commented on #1316
We do depend on it today, but this is the kind of data that should live alongside secure data like ssl keys outside TODB.

[2020-12-08 16:57] mitchell852 commented on #1757
@smalenfant are you seeing this still?

[2020-12-08 16:58] rawlinp commented on #5069
Reopening per @zrhoffman's comment on #5342.

[2020-12-08 16:59] ocket8888 commented on #2484
This has been fixed in the general case. Specific endpoints should have specific issues.

[2020-12-08 16:59] #2484 closed

[2020-12-08 17:01] mitchell852 commented on #2625
@rawlinp - do u know if creating an HTTPS delivery service w/o certs causes TR some issues anymore? If so, maybe we need to add a Major label to this.

[2020-12-08 17:04] zrhoffman commented on #2881
`/api/3.0/ping` still returns the wrong content type as of d4780c387e.

[2020-12-08 17:07] rawlinp commented on #2625
That is a different issue than this issue, and that is actually by design I believe. If you have an HTTPS DS w/o a cert, TR will continue to poll TO for the missing cert until it gets one.

_This_ issue might actually be fixed, since there were a lot of cert-related enhancements completed since 2 years ago. I can try to verify this.

[2020-12-08 17:07] mitchell852 commented on #2272
Is this still true @rawlinp and would this just be wasted performance?

[2020-12-08 17:09] mitchell852 commented on #2925
config file generation in TO has been removed. closing.

[2020-12-08 17:09] #2925 closed

[2020-12-08 17:11] mitchell852 commented on #1745
For what it's worth, you can now queue updates for all servers in a topology assuming the ds uses a topology. Do you think this functionality is still needed @jhg03a ?

[2020-12-08 17:14] mitchell852 commented on #1746
@rob05c - any clue if this is still an issue?

[2020-12-08 17:25] rawlinp commented on #2272
Yes, this does still appear to be true and is just wasted storage/bandwidth/performance.

[2020-12-08 17:26] mitchell852 commented on #1665
yeah, 99% sure it doesn't do this @jhg03a . maybe it got fixed at some point. Currently, if a cache group contains caches A, B, C, D and I change the status of cache A, updates are queued for cache A (and it's children) but not for it's peers (B, C, D). Let me know if i can close this.

[2020-12-08 17:31] #5355 closed

[2020-12-08 17:39] shamrickus commented on #5324
I believe my PR should fix this issue, as far as I can tell this happens when CiaB data isn't setup/there is other data already existing.

[2020-12-08 17:43] mitchell852 commented on #5167
can u apply a severity level @smalenfant or @rob05c

[2020-12-08 17:44] mitchell852 commented on #5150
can u apply a severity level @smalenfant or @rob05c

[2020-12-08 17:45] mitchell852 commented on #5129
can u apply a severity level @jhg03a

[2020-12-08 17:47] mitchell852 commented on #5061
what do u think @srijeet0406 ?

[2020-12-08 17:54] srijeet0406 commented on #5061
I agree, that test expectation can be unreasonable at times. Also, I haven't seen this issue happen for a while now, not sure if anything changed from our side.

[2020-12-08 18:21] jhg03a commented on #1106
Both ASN and BGP Community Tags are arbitrary mappings to locations.  So for some implementations it may make sense to use one over another.  They could be used as part of an implementation of a czf generator.  I'm not sure I'd just add it to the ASN table though as it would break the 1:1 mapping of cachegroup to ASN.  I think it would be easier/better for it to be a peer structured like the ASN t

[2020-12-08 18:22] jhg03a commented on #1745
Good to know.  That might satisfy it going forward.  Having an entry in the dropdown menu for it though might be handy.

[2020-12-08 18:24] jhg03a commented on #1665
We can go ahead and close it out.  It's something that's seemed like it's happened several times, but I don't have a solid reproduce case for it.  If I find one, I can open a new issue or reopen this one.

[2020-12-08 18:24] #1665 closed

[2020-12-08 18:27] jhg03a commented on #1106
Also for what it's worth, this request predates the implementation of deep_czf as an option which may be used similarly if the generator implementation chooses to use this information.

[2020-12-08 19:08] ragen14 opened #5363 "Ansible deployment roles for PostgreSQL installation should be version agnostic"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Ops
- Traffic Ops DB

## Current behavior:

- Ansible deployment roles currently assumes PostgreSQL version being 9.6

## New behavior:

- Expand capabilities of ansible deployment roles to include additional major releases of PostgreSQL

[2020-12-08 19:38] srijeet0406 commented on #5361
@mitchell852 I'm guessing this will involve a database migration, since the primary key for the `topology` table is its `name`.

[2020-12-08 19:44] shamrickus commented on #5295
Fixed by #5321

[2020-12-08 19:46] rawlinp commented on #5361
I believe we can actually change the PK and it auto-updates the FK references.

[2020-12-08 19:46] #5295 closed

[2020-12-08 19:51] mitchell852 commented on #1106
sounds like we have a workaround! i think i'll close. @knutsel please reopen if u feel strongly about this request.

[2020-12-08 19:51] #1106 closed

[2020-12-08 19:53] mitchell852 commented on #5061
I'm going to close. please reopen if we see this again.

[2020-12-08 19:53] #5061 closed

[2020-12-08 20:02] rawlinp opened #5364 "TODB should cascade delete interfaces and IP addresses when deleting a server via SQL"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
When trying to delete a server via `DELETE FROM server WHERE ...`, you are restricted due to the `ON DELETE RESTRICT` FK clauses on the `interface` and `ip_address` tables. Additionally, deleting server interfaces is restricted via the `ON DELETE RESTRICT` FK clause on the `ip_add

[2020-12-08 21:05] mitchell852 commented on #2805
So looks like between #5083 and #5297 you can no longer change anything DS-related that DNSSEC depends on therefore, i believe this issue can be closed as reproducing it is no longer possible but I'll defer to the issue creator @rob05c

[2020-12-08 22:03] #5296 closed

[2020-12-09 17:18] rawlinp commented on #2625
This issue appears to be fixed now that TR generates a `default.invalid` cert. I was able to curl a DS on a new CDN that didn't have any SSL keys generated yet.

[2020-12-09 17:18] #2625 closed

[2020-12-09 22:36] #5218 closed

[2020-12-10 15:25] #5195 closed

[2020-12-10 19:51] #2881 closed

[2020-12-11 17:13] mitchell852 opened #5370 "Topologies: Invalid error in TP when a mid or an org cache has ZERO primary children but 1+ secondary children"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Invalid error in TP when a mid or an org cache has ZERO primary children but 1+ secondary children:

![image](https://user-images.githubusercontent.com/251272/101933314-40e95280-3b99-11eb-9509-55613d04f0c8.png)

## Expected behavior:
A mid or org cache group cannot be a "leaf"

[2020-12-11 18:05] mitchell852 commented on #5359
closing. naming a topology such as "my-topology-IN-PROGRESS" should suffice.

[2020-12-11 18:05] #5359 closed

[2020-12-14 14:05] smalenfant opened #5373 "Traffic Monitor logs not consistent"
There is some inconsistencies in the Traffic Monitor logging. Mostly they relate to:

- delivery service used in the "host" section.
- type is sometimes "Delivery Service" (unquoted) and sometimes "DELIVERYSERVICE".
- Delivery Service also showing twice.

[code]

## Traffic Control components affected ...
-  Traffic Monitor

## Current behavior:
In the description

## Expected behavior:
Needs revi

[2020-12-14 17:20] TaylorCFrey commented on #5373
Looks like both logging events are created in `CreateStats(...)`, once in the beginning of the function under `addAvailableData(...)` and again at the end of the function within `addPerSecStats(...)` -> `addDSPerSecStats(...)`. They do look awfully similar, but I don’t know if they have different intentions or it’s more by happenstance.

[2020-12-14 18:40] #5311 closed

[2020-12-14 19:56] zrhoffman opened #5374 "Cached Perl modules are not used to build TO Perl CiaB image"
## I'm submitting a ...

-  bug report
-  other

## Traffic Control components affected ...

-  CI tests

## Current behavior:

We no longer get the speed benefit of Perl module caching. CDN in a Box images take about 14 minutes to build.

## Expected behavior:

We should get the speed benefit of Perl module caching. CDN in a Box images should take about 7.5 minutes to build (less after removing T

[2020-12-15 00:32] zrhoffman opened #5377 "Ansible playbooks still use Traffic Ops API v1"
## I'm submitting a ...

-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...

- Ansible playbooks

## Current behavior:

The following references to the Traffic Ops API in our Ansible playbooks need to be updated:

| HTTP Method | Endpoint | Line of Code |
| ----------- | -------- |:------------ |
| `POST` | `api/1.3/user/login` | https://gi

[2020-12-15 15:32] srijeet0406 opened #5378 "Trying to update a DS that doesn't exist returns an Internal Server Error"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  CDN in a Box
-  Traffic Ops

## Current behavior:

Try making an API call to `PUT` (update) a delivery service that doesn't exist.
You will get back an internal server error (status code 500).
If you tail the logs, you'll see that this happens because the error is `sql: no rows in result set` (which is expected)

[2020-12-15 16:20] mitchell852 commented on #5378
yep, should be 404 Not Found

[2020-12-15 19:52] #5370 closed

[2020-12-15 21:37] mitchell852 opened #5380 "ds topology + required server capabilities + assigned ORG servers not working correctly"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
GET /api/3.0/servers?dsId={{id}} does not return ORG servers directly assigned to the DS if:
1. a topology is assigned to the DS and
2. one ore more ORG servers are directly assigned to the DS and
3. the ds requires server capabilities that the ORG server(s) does not have

In fact

[2020-12-16 21:44] srijeet0406 commented on #5380
I can take this one.

[2020-12-16 23:12] #5374 closed

[2020-12-17 17:06] mitchell852 opened #5382 "Incorrect description of delivery service max dns answers in TP and documentation"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...

-  Documentation
-  Traffic Portal

## Current behavior:
Incorrect description of delivery service max dns answers found here:

1. https://traffic-control-cdn.readthedocs.io/en/latest/overview/delivery_services.html#max-dns-answers
2. On the TP DNS and HTTP delivery service forms. ie. https://tp.domain.tld/#!/delive

[2020-12-17 19:24] rimashah25 commented on #5361
I can take this one.

[2020-12-17 19:24] rimashah25 commented on #5382
I can take this one

[2020-12-17 19:25] rimashah25 commented on #5340
I can take this one.

[2020-12-17 19:56] TaylorCFrey commented on #5339
I got this one

[2020-12-17 22:18] #5331 closed

[2020-12-18 03:15] mitchell852 commented on #4982
Maybe we need to consider a new endpoint like:

POST (or PUT) /api/queue_updates with a bunch of supported query params such as:

/api/queue_updates?cdn=
/api/queue_updates?cacheGroup=
/api/queue_updates?server=(hostname? id? both?)
/api/queue_updates?type=
/api/queue_updates?profile=
/api/queue_updates?topology=
/api/queue_updates?deliveryService=(xmlId? id? both?)
/api/queue_updates?physLocation

[2020-12-18 03:20] mitchell852 commented on #4824
@ocket8888 can u make a separate issue for that?

[2020-12-18 03:21] mitchell852 commented on #4824
@rawlinp - TP should remember the widths you set but the eating into the width part might be just the way the grid behaves. Not sure there's a reasonable fix for that.

[2020-12-18 03:36] mitchell852 opened #5384 "TP grids should retain pagination positioning"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Pagination is not retained in any of the following tables when navigating away and then back to the table.

- servers
- ds requests

## New behavior:
Pagination IS retained in any of the following tables when navigating away an

[2020-12-18 03:36] mitchell852 commented on #4824
issue created - #5384

[2020-12-18 04:18] ocket8888 commented on #4824
I don't really know what re-sizing columns would look like if it didn't "eat into" the width of other columns. Unless you'd want the table to have a horizontal scrollbar if the size got bigger than the viewport?

[2020-12-18 04:22] ocket8888 opened #5385 "Fuzzy search in Traffic Portal tables"
## I'm submitting an ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
Searches through the general "search" bar in Traffic Portal tables only filters to text containing substrings of exact matches to the search query.

## New behavior:
Searches through the general "search" bar in TP should be [f

[2020-12-18 16:05] rawlinp commented on #4824
It would be a better experience if when I widen column A it didn't also narrow column B at the same time. It means needing to manually resize _all_ columns whenever you want to resize a single column.

[2020-12-18 16:09] mitchell852 commented on #4824
yeah, i agree. it's not much fun. FWIW you can double click the column separator to expand it to fit the column contents...

[2020-12-18 16:09] ocket8888 commented on #4824
Right, but if you widen column A without narrowing column B then where does the space come from? What are you expanding into?

[2020-12-18 16:14] rawlinp commented on #4824
Oh, that's a neat trick I would've never figured out on my own!

_The Void_. It should expand horizontally -- it already allows you to scroll horizontally if the size is bigger than the viewport.

[2020-12-18 16:25] ocket8888 commented on #4824
Okay. I kind of hate horizontal scrollbars, so the current implementation is built with avoiding them if possible in mind, but it's totally possible to bring them back - that's actually the default behavior.

[2020-12-18 16:52] rawlinp commented on #4824
I don't actually see a horizontal scrollbar, but I am able to scroll horizontally.

[2020-12-18 23:53] rawlinp opened #5390 "TO unable to unassign ORG server from delivery services if it's the last assigned"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
As of https://github.com/apache/trafficcontrol/pull/5328, TO prohibits unassigning all servers from an active delivery service, including `ORG` servers.

## Expected behavior:
This validation should be limited to server types that begin with `EDGE`, since the validation should be

[2020-12-19 00:02] rawlinp opened #5391 "TO/TP unable to create types where use_in_table = cachegroup"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops
- Traffic Portal

## Current behavior:
TO only allows creating new types where `use_in_table = server`.

## Expected behavior:
TO only allows creating new types where `use_in_table = server` OR `use_in_table = cachegroup`.

Since we allow creating new server types, it follows that we should probably be

[2020-12-19 04:17] ocket8888 commented on #5391
What if instead we didn't allow types to be mutable at all? That way we could really reliably determine the type of something from its Type.

I really think the current use-cases for custom types are better served by applying Tags to something.

[2020-12-22 17:57] #5380 closed

[2020-12-28 16:21] rawlinp commented on #5391
Maybe, but we don't have tags today, and that would be quite the paradigm change to entirely depend upon tags instead of types.

[2020-12-28 21:22] mitchell852 opened #5394 "TP: represent tenants as a hierarchical visualization rather than a flat list"
## I'm submitting a ...
-  improvement request (usability, performance, tech debt, etc.)

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
In TP, the list of tenants (https://tp.domain.tld/#!/tenants) is represented as a flat list of tenants when tenancy is hierarchical.

## New behavior:
The tenants UI should represent the hierarchy visually.

## Minimal reproduc

[2020-12-28 21:24] dpham692 opened #5395 "Missing validate when user update cachegroup's type"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops
-  Traffic Portal

## Current behavior:

1. Create a Topology that contain a EDGE_LOC cache group.
2. Go to Topology -> Cache Groups and change that Cache Group type from EDGE_LOC to something else like MID_LOC for example.
3. Notice that now the Topology will have the MID_LOC cache group as a leaf n

[2020-12-29 17:12] dpham692 opened #5396 "Internal Server Error when update root tenant"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal

## Current behavior:

1. Go to TP
2. Click on User Admin -> Tenants
3. Try to update root tenant. Notice that it will generate Internal Server Error message
## Expected behavior:

~~TP should let user update root tenant~~
When attempting to update the immutable root tenant, the user should get a

[2020-12-29 17:16] mitchell852 commented on #5396
actually, when attempting to update the immutable root tenant, the user should get a 400 Bad Request instead I believe with a message along the lines of "Root tenant is immutable".

[2020-12-29 18:30] srijeet0406 commented on #5396
I can take this one

[2020-12-29 20:58] mitchell852 commented on #5391
I'm pretty sure the reason we limited new types to use_in_table = server is because you can add server types that begin with Edge* or Mid* and they'd _just work_ w/o code changes. So really it should have been "you can only add create types where use_in_table = server AND prefix = EDGE or MID".

I guess my question is if we allow users to create types of use_in_table = cachegroup, will these types

[2020-12-30 19:35] #5394 closed

[2021-01-04 16:33] rawlinp commented on #5391
Ideally, we'd have a way to distinguish whether a server is a forward proxy or a reverse proxy other than by checking its server type prefix (EDGE/MID). That has always been a brittle way of determining that, maybe even a lazy hack to avoid adding a new database column or something. It really seems like there are two types at hand -- server type and proxy type. Right now we are conflating server t

[2021-01-04 16:48] rob05c commented on #5391
Any caching Proxy can easily be both Forward and Reverse, depending on the particular request.

Right now, ATC is basically hard-coded so Edges are RP and Mids are FP. But there's no reason a server couldn't act as a FP for one Delivery Service and RP another. Or, that a server couldn't be a RP in one particular Topology and a FP in another.

I'd vote we move toward making that more flexible, rath

[2021-01-04 17:07] rawlinp commented on #5391
That is a good point -- a cache can be both a forward and a reverse proxy.

If we went all reverse proxy, that would mean every cache would require a unique fqdn for every delivery service at each tier. That would add a significant amount of complexity into the system.

[2021-01-04 18:05] rob05c commented on #5391
I'm not sure what you mean? You mean we'd have to put those FQDNs in DNS? We shouldn't, and can't, the Host header being requested of the RP will have to be the origin's host, the Proxy can't be in DNS with that host.

Or you mean something else? I don't think it introduces any complexity, it should be as simple as changing to `parent_is_proxy=false` in `parent.config`, maybe a couple other tiny c

[2021-01-04 18:30] rawlinp commented on #5391
If the origin is http://example.org, I would imagine something like this if we used reverse all the way through:

edge.myds.mycdn.com -> remap to mid-1.myds.mycdn.com -> remap to last-tier-cache-1.myds.mycdn.com -> remap to example.org

If we did that, I'd think all of those FQDNs would need to be in DNS. Do you mean we could reverse all the way without that? What would the remaps be? Unless you m

[2021-01-04 19:14] rob05c commented on #5391
I'm suggesting we configure the Caching Proxy to get a request for the DS FQDN, say `edge.myds.mycdn.com`, and then make a request to its parent, say `mymid.example` with the `Host: edge.mydns.mycdn.com`. The Caching Proxy `mymid.example` will then get that request, and either request its own parent or directly to the real origin.

ATS config would look like
[code]

No DNS changes, no additional h

[2021-01-04 19:18] #5378 closed

[2021-01-04 20:39] mitchell852 commented on #5339
Actually, looks like generate is working:

[code]

Maybe that can simply be changed to "Generated SSL keys" instead of "Added"

[2021-01-04 20:41] mitchell852 commented on #5339
but

[code]

is definitely not working.

[2021-01-04 20:43] rawlinp commented on #5391
Oh ok. I agree that approach as you've described it wouldn't increase complexity much.

Circling back to this issue, it sounds like we should just continue to rely on the EDGE/MID prefixes to mean reverse/forward, respectively, in order to not prevent us from making this change in the future. If that change is made, we might need a different approach to the validation in order to prevent certain c

[2021-01-04 20:46] mitchell852 commented on #5339
and this works too

[code]

i'll update the issue

[2021-01-04 21:02] rob05c commented on #5391
+1

The other part of this, besides "simply prod debugging," is "simplify TO/TC."

If we don't decide to do the RP-everywhere thing, or we could also say "the first Cache (Edge) in the Topology is Reverse, every other is a Forward" (which is what it does today, with the way I wrote the Topology Config Gen, though it's easy to change).

I'm not seeing a reason ATC needs to specify that.

Unless som

[2021-01-05 16:15] mitchell852 commented on #2526
mind if i close @jhg03a ? probably not going to happen and there are probably better tools for this.

[2021-01-05 16:24] jhg03a commented on #2526
There actually isn't a better tool I can find.  Only TO knows what those cert expiration dates are without constant exporting and potential private key disclosure.

[2021-01-05 16:26] jhg03a commented on #2526
Unless you are 100% LE with no vanity DS url, you have this usability problem.

[2021-01-05 16:32] mitchell852 commented on #2974
question answered? yes, there was tenancy leakage when TO generated server config files but is that still true now that TO does not generate those config files @ocket8888 @rob05c ?

[2021-01-05 16:32] mitchell852 commented on #2973
1.x is going bye bye soon. closing this.

[2021-01-05 16:32] #2973 closed

[2021-01-05 16:33] mitchell852 commented on #3147
1.x is going bye bye soon. closing this.

[2021-01-05 16:34] mitchell852 commented on #3308
1.x is going bye bye soon. closing this.

[2021-01-05 16:34] mitchell852 commented on #3095
1.x is going bye bye soon. closing this.

[2021-01-05 16:35] mitchell852 commented on #2939
1.x is going bye bye soon. closing this.

[2021-01-05 16:35] #2939 closed

[2021-01-05 16:36] mitchell852 commented on #3107
since 1.x will soon be removed. can this be closed @ocket8888 ?

[2021-01-05 16:38] ocket8888 commented on #3107
No, the problem is not version-specific

[2021-01-05 16:38] mitchell852 commented on #2566
1.x will soon be removed. can this be closed @ocket8888 ?

[2021-01-05 16:38] mitchell852 commented on #4129
these endpoints are now gone. closing.

[2021-01-05 16:38] #4129 closed

[2021-01-05 16:41] mitchell852 commented on #4762
1.x will soon be removed. closing.

[2021-01-05 16:41] #4762 closed

[2021-01-05 16:42] mitchell852 commented on #3738
1.x will soon be removed. closing.

[2021-01-05 16:42] mitchell852 commented on #3568
1.x will soon be removed. closing.

[2021-01-05 16:46] mitchell852 commented on #3107
can u change issue title?

[2021-01-05 18:41] rawlinp commented on #5382
That description that @mitchell852 proposed does sound sufficient for DNS delivery services. For HTTP delivery services, I think it only overrides the `edge.http.limit` parameter when both are set:
[code]
- https://traffic-control-cdn.readthedocs.io/en/latest/admin/traffic_router.html?highlight=edge.dns.limit

So maybe a good description for maxDnsAnswers in the HTTP DS form is:
[code]

[2021-01-05 22:12] jhg03a commented on #5377
There are a whole lot more 1.3 API uses in the dataset loader than are noted above.

[2021-01-06 15:59] srijeet0406 commented on #5390
Just mentioning this here to avoid any confusion:
Here is how I tested and verified this --

Create a new active DS in TP
Try to assign a server to this DS that is not in the ONLINE/ REPORTED state -> this should fail
Now, try to assign an EDGE that is in ONLINE/ REPORTED state -> this should pass
Try deleting this EDGE server from TP and also from the backend API call -> both these actions should

[2021-01-06 17:14] srijeet0406 commented on #5335
I can take this one

[2021-01-06 17:22] zrhoffman commented on #5324
Dug into cases where these 5 tests fail. In CDN in a Box, the TP tests fail if no caches exist before the TP tests start, or if only a mid cache exists:
[code]

but succeed if at least 1 edge cache exists:
[code]

<details><summary>Updated TP Tests log of failure</summary>

[code]
</details>

[2021-01-06 17:39] zrhoffman commented on #5324
Since the TP tests pass as-is, `edge` just needs to be added to the `depends_on:` list for the `portal-integration-test` service in `docker-compose.traffic-portal-test.yml`.

[2021-01-06 17:46] dpham692 opened #5405 "User can update parent tenant to have their child tenant as a new parent"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Portal
-  Traffic Ops

## Current behavior:

User can update parent tenant to have their child tenant as a new parent and the result is it will delete all the tenant from parent to the child
## Expected behavior:

System should not let user update parent tenant to have their child tenant as a new parent

[2021-01-06 17:54] mitchell852 commented on #5405
good catch! yeah, obviously a tenant's parent cannot be a child of that tenant. 👍  - needs a simple parent check on PUT

[2021-01-06 20:33] jhg03a opened #5407 "1.x API permits duplicate servers"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Current behavior:

Issuing the same POST request to https://{{TO_BASE_URL}}/api/1.3/servers twice creates two identical servers

## Expected behavior:

Issuing the same POST request to https://{{TO_BASE_URL}}/api/1.3/servers should succeed the first time and throw an error the second.

## Minimal

[2021-01-06 20:37] #5396 closed

[2021-01-06 22:56] #5360 closed

[2021-01-07 03:54] Vijay-1 opened #5409 "Traffic Router requires a restart after the creation of very first HTTPS (SSL Enabled) delivery service."
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Router

## Current behavior:
Traffic router requires a restart after the creation of very first HTTPS Delivery service.

## Expected behavior:
SSL Endpoints should be set in the next cs-config polling interval / certificates polling interval with out a restart.

## Minimal reproduction of the problem wit

[2021-01-07 06:13] srijeet0406 commented on #5407
I can take this one

[2021-01-07 16:30] mitchell852 opened #5412 "Capture/display the last time a user successfully authenticated"
## I'm submitting a ...
-  new feature / enhancement request

## Traffic Control components affected ...
-  Traffic Ops
-  Traffic Portal

## Current behavior:
TP and the TO API will not provide you with any information regarding the last time/date a user successfully authenticated. This information can be helpful when disabling users that no longer use the system. i.e. data cleanup.

## New behav

[2021-01-07 16:42] #5382 closed

[2021-01-07 16:44] ocket8888 commented on #4762
This doesn't look specific to 1.x

[2021-01-07 17:01] ocket8888 commented on #3147
This is not specific to API version 1 - that's just the only major version that existed when it was opened.

[2021-01-07 17:11] mitchell852 commented on #4762
so needs to be reopened?

[2021-01-07 17:17] ocket8888 commented on #2974
Yeah, the specific leakages through config file contents I was talking about are eliminated with the endpoints.

[2021-01-07 17:23] #5324 closed

[2021-01-07 17:28] mitchell852 commented on #2974
so can u close this?

[2021-01-07 17:30] ocket8888 commented on #4762
looks that way to me, but @dpham692 would know for sure.

[2021-01-07 17:33] ocket8888 commented on #2974
I was thinking I might leave it open because there are probably other leaks, but I don't know what they are. So I'd need to go find those and then edit this issue - but I could just as easily open a new issue.

[2021-01-07 17:33] #2974 closed

[2021-01-07 18:50] rob05c opened #5413 "Traffic Ops /api/3.0/servers/:host_name/update_status returns pending true for OFFLINE topology parents"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Ops

## Current behavior:
/api/3.0/servers/:host_name/update_status (but not /api/2.0 it appears) returns parent_pending and parent_reval_pending true if Topology parents that aren't ONLINE or REPORTED are pending (which are likely offline, and will never update).

This breaks ORT, which will never update

[2021-01-07 23:10] srijeet0406 commented on #5316
I can take this one.

[2021-01-07 23:13] #5390 closed

[2021-01-08 20:18] #5413 closed

[2021-01-08 21:00] rawlinp commented on #3348
Closing as we do now have support for this via the `includeSystemTests` option for running the TO API tests. Currently, you can test against the CIAB Riak instance.

[2021-01-08 21:00] #3348 closed

[2021-01-08 21:07] rimashah25 commented on #5341
I can take this one.

[2021-01-08 21:09] rimashah25 commented on #5284
I can take this one.

[2021-01-08 21:10] rimashah25 commented on #5287
I can take this one.

[2021-01-08 21:12] srijeet0406 commented on #5341
I _think_ @shamrickus is working on this one, not a 100% sure

[2021-01-08 21:14] rimashah25 commented on #5192
I can take this one.

[2021-01-08 21:43] #5364 closed

[2021-01-11 14:03] dmohan001c opened #5418 "Servers should not allow the user to update the CDN"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Documentation
-  Traffic Ops
-  Traffic Portal

## Current behavior:

Traffic Portal Docs shows CDN can be updated in a server.

## Expected behavior:

The server should not allow the user to update the CDN.

## Minimal reproduction of the problem with instructions:

Document shows CDN can be updated in a Server

[2021-01-11 15:06] ocket8888 commented on #5418
Why not?

[2021-01-11 23:08] #5287 closed

[2021-01-12 01:46] zrhoffman opened #5424 "Traffic Ops /api/3.0/servers/:host_name/update_status returns pending true for ORG_LOC-type non-topology parent Cache Groups"
## I'm submitting a ...

-  bug report

## Traffic Control components affected ...

-  Traffic Ops

## Minimal reproduction of the problem with instructions:

Steps:
- Cache Group `my-cachegroup` has a (non-Topology) parent Cache Group of type `ORG_LOC`
- Queue updates CDN-wide

`GET api/3.0/servers/{name}/update_status` incorrectly reports Servers in Cache Group `my-cachegroup` as having `parent_

[2021-01-12 16:12] mitchell852 opened #5426 "TP: offline reason logic does not account for new non-online statuses that can be added"
## I'm submitting a ...
-  bug report

## Traffic Control components affected ...
-  Traffic Portal

## Current behavior:
In TP, when updating the status to ADMIN_DOWN or OFFLINE, the user is prompted to enter an "offline reason"

![image](https://user-images.githubusercontent.com/251272/104340626-1ea76500-54b6-11eb-9fa5-35afed547f8e.png)

## Expected behavior:
Since server statuses can be added t

[2021-01-12 16:32] mitchell852 commented on #2101
tenancy could make this interesting as a source ds could be outside your tenancy which would give you the impression that a delivery services is not being used as a steering target. just something to think about...

[2021-01-12 16:37] ocket8888 commented on #3003
The `cachegroup_fallbacks` endpoint was removed in APIv2 - we won't be fixing issues like this with such endpoints.

[2021-01-12 16:37] #3003 closed

[2021-01-12 16:42] mitchell852 commented on #2940
only applies to 1.x. closing.

[2021-01-12 16:42] #2940 closed

[2021-01-12 16:47] ocket8888 commented on #3135
This might only apply to API 1.x, in which case it could just be closed.

[2021-01-12 16:49] mitchell852 commented on #3229
with the upcoming removal of perl - #5209 - can this be closed @jhg03a ?

[2021-01-12 16:52] mitchell852 commented on #3272
the solution regarding this needs to take into account potentially moving management information into it's own server interface object.

[2021-01-12 16:53] zrhoffman commented on #3079
This now returns the correct response status code with a descriptive error message:
[code]

[2021-01-12 16:53] #3079 closed

[2021-01-12 16:55] mitchell852 commented on #3327
related to 1.x. closing.

[2021-01-12 16:55] #3327 closed

[2021-01-12 17:02] dneuman64 opened #5427 "Traffic Ops should auto-calculate the max origin connections per mid"
## I'm submitting a ...

-  new feature / enhancement request

## Traffic Control components affected ...

-  Traffic Ops
-  Traffic Portal

## Current behavior:

Currently, if the max origin connections field is set in TO, it is only used to determine connections per server for DSs that do NOT use Mids.

## New behavior:

If the Max Origin Connections field is set, Traffic Ops should automaticall

[2021-01-12 17:05] rimashah25 commented on #5192
Should there be any other expected behavior besides removing the warning log?

[2021-01-12 17:08] mitchell852 commented on #3495
@rob05c want to rename this to Traffic Portal? This has been implemented for TO.

[2021-01-12 17:09] mitchell852 commented on #3495
This probably requires TP to send if-modifed-since headers to fully take advantage of this.

[2021-01-12 17:11] #5284 closed

[2021-01-12 17:11] mitchell852 commented on #3535
this may not be valid anymore. @mitchell852 can you check?

[2021-01-12 17:15] mitchell852 commented on #3582
closing. please reopen if still having this issue after setting up email in traffic ops.

[2021-01-12 17:15] #3582 closed

[2021-01-12 17:18] dneuman64 commented on #5427
It looks like Traffic Portal might not make that field available for all DSs, so TP might need to be fixed as well.

[2021-01-12 17:25] mitchell852 commented on #943
this is outside of the scope of TC. closing.

[2021-01-12 17:25] #943 closed

[2021-01-12 17:25] mitchell852 commented on #947
this is outside of the scope of TC. closing.

[2021-01-12 17:25] #947 closed

[2021-01-12 17:25] mitchell852 commented on #948
this is outside of the scope of TC. closing.

[2021-01-12 17:25] #948 closed

[2021-01-12 17:26] mitchell852 commented on #945
this is outside of the scope of TC. closing.

[2021-01-12 17:26] #945 closed

[2021-01-12 18:31] zrhoffman commented on #5192
Nope. Topologies work as expected, so removing the warning is sufficient.

[2021-01-12 18:35] ocket8888 commented on #5192
Topologies work as expected, but would we still want to log the warning for DSes that don't use them?

[2021-01-12 18:37] zrhoffman commented on #5192
Yep

[2021-01-12 18:39] ocket8888 commented on #5427
Also, if it currently does only apply to Edge-tier cache servers, then [the related documentation](https://traffic-control-cdn.readthedocs.io/en/latest/overview/delivery_services.html#max-origin-connections) is wrong, as it specifies that the setting applies to *Mid-tier* cache servers.

[2021-01-12 18:59] rob05c commented on #5427
ORT should be applying it to Edges for direct DSes (HTTP_LIVE, DNS_LIVE) and to Mids for DSes that use the Mids: https://github.com/apache/trafficcontrol/blob/master/lib/go-atscfg/headerrewritemiddotconfig.go#L153

Unless there's a bug.

IMO it's better for ORT to do the calculation than TO, just because it's more canaryable.

[2021-01-13 00:46] jhg03a commented on #3229
Is postinstall perl gone along with TO perl?  If so, yes.